<div class="container the-team">
  <div class="section-header">
    <h3>The Team</h3>
  </div>

  <ul class="people-list">
    {% for person in entry.people.all() %}
      {% set image = person.photo.one() %}
      {% if image %}
        {% set personImage = craft.imager.transformImage(image, { width: 800 }) %}
      {% endif %}
      <li class="person" id="{{ person.slug }}">
        <div class="toggle-container">
          {% if personImage %}
            <img src="{{ personImage.getUrl() }}" alt="{{ person.title }}">
          {% endif %}
          <h3 class="small">{{ person.tagline }}</h3>
          {{ person.title }}

        </div>
        <div class="modal-content">
          {% if personImage %}
            <img class="" src="{{ personImage.getUrl() }}" alt="{{ person.title }}">
          {% endif %}
          <div class="-inner">
            <div class="bio -left">
              {% if personImage %}
                <div class="image">
                  <img src="{{ personImage.getUrl() }}" alt="{{ person.title }}">
                </div>
              {% endif %}
              {% if person.pronouns %}
                <h4 class="smallcaps pronouns">
                  {{ person.pronouns }}
                </h4>
              {% endif %}
              <h2>
                {{ person.title }}
              </h2>
              {% if person.personTitle %}
                <h3>
                  {{ person.personTitle }}
                  {% if person.socialLinks %}
                    {{ person.socialLinks }}
                  {% endif %}
                </h3>
              {% endif %}
            </div>
            <div class="-right">
              {{ person.bio }}
            </div>
          </div>
        </div>
     </li>
    {% endfor %}
  </ul>
</div>
