<div class="container the-team">
  <div class="section-header">
    <h3>The Team</h3>
  </div>

  <ul class="people-list">
    {% for block in entry.people.all() %}
      {% set image = block.photo.one() %}
      {% if image %}
        {% set personImage = craft.imager.transformImage(image, { width: 800 }) %}
      {% endif %}
      <li class="person" id="{{ block.personNameFirst|kebab }}-{{ block.personNameLast|kebab }}">
        <div class="toggle-container">
          {% if personImage %}
            <img src="{{ personImage.getUrl() }}" alt="{{ block.personNameFirst }} {{ block.personNameLast }}">
          {% endif %}
          <h3 class="small">{{ block.tagline }}</h3>
          {{ block.personNameFirst }} {{ block.personNameLast }}

        </div>
        <div class="modal-content">
          {% if personImage %}
            <img class="" src="{{ personImage.getUrl() }}" alt="{{ block.personNameFirst }} {{ block.personNameLast }}">
          {% endif %}
          <div class="-inner">
            <div class="bio -left">
              {% if personImage %}
                <div class="image">
                  <img src="{{ personImage.getUrl() }}" alt="{{ block.personNameFirst }} {{ block.personNameLast }}">
                </div>
              {% endif %}
              {% if block.pronouns %}
                <h4 class="smallcaps pronouns">
                  {{ block.pronouns }}
                </h4>
              {% endif %}
              <h2>
                {{ block.personNameFirst }} {{ block.personNameLast }}
              </h2>
              {% if block.personTitle %}
                <h3>
                  {{ block.personTitle }}
                  {% if block.socialLinks %}
                    {{ block.socialLinks }}
                  {% endif %}
                </h3>
              {% endif %}
            </div>
            <div class="-right">
              {{ block.bio }}
            </div>
          </div>
        </div>
     </li>
    {% endfor %}
  </ul>
</div>
