<div class="block-wrap the-team">
  <div class="-inner">
    <div class="block-section-header">
      <h3 id="the-team">The Team</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="thumbnail-grid grid spaced people-list">
    {% for person in entry.people.with(['photo']).all() %}
      {% set image = person.photo[0] %}
      {% if image %}
        {% set personImage = craft.imager.transformImage(image, { width: 1100, height: 640, mode: 'crop' }) %}
      {% endif %}
      <article class="col-md-1-2 person -reveal" data-person="{{ person.slug }}">
        <div class="anchor" id="{{ person.slug }}"></div>

        <div class="toggle-container">
          {% if personImage is defined %}
            <a data-no-swup class="-inner js-cursor" href="{{ person.getUrl() }}">
              <img src="{{ personImage.getUrl() }}" alt="{{ person.title }}">
            </a>
          {% endif %}
          <h4 class="heading-smallcaps">{{ person.tagline }}</h4>
          <h3><a data-no-swup href="#{{ person.slug }}">{{ person.title }}</a></h3>
        </div>

        <div class="modal-content">
          <div class="container">
            <div class="grid spaced">
              <div class="person-info col-md-1-2">
                {% if personImage is defined %}
                  <div class="image">
                    <img src="{{ personImage.getUrl() }}" alt="{{ person.title }}">
                  </div>
                {% endif %}
                {% if person.pronouns %}
                  <h4 class="pronouns">
                    {{ person.pronouns }}
                  </h4>
                {% endif %}
                <h2>
                  {{ person.title }}
                </h2>
                {% if person.personTitle %}
                  <p>{{ person.personTitle }}</p>
                  {% if person.socialLinks|length %}
                    <ul class="social">
                    {% for link in person.socialLinks %}
                      <li>
                        {% if link.type %}{{ link.type }}:{% endif %}
                        <a href="{{ link.url }}" rel="noopener noreferrer" target="_blank">{{ link.text }}</a>
                      </li>
                    {% endfor %}
                  {% endif %}
                  </ul>
                {% endif %}
              </div>
              <div class="person-bio col-md-1-2 user-content">
                <div class="-inner">
                  {{ person.bio }}
                </div>
              </div>
            </div>
          </div>
        </div>

     </article>
    {% endfor %}
  </div>
</div>
