{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% set bodyClass = 'single page about with-blobs' %}
{% set bodyId = 'about-page' %}
{% set bodyDataAttributes = 'data-blob-color=#7F09F5' %}

{% block content %}

  {% include 'partials/_text-header' %}

  {% include 'blocks/_page-blocks' %}

  {% include 'about/_people-list' %}

{% endblock %}