{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? '_ajax-layout' : '_layout' %}

{% set title = entry.title %}
{% set bodyClass = 'with-blobs' %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% if entry.seoImage|length %}
  {% set seoImage = entry.seoImage.one() %}
{% elseif entry.staggeredImageHeader.mainImage|length %}
  {% set seoImage = entry.staggeredImageHeader.mainImage.one() %}
{% endif %}

{% block content %}
  {% cache unless currentUser %}

  {% include 'partials/_text-header' %}

  {% include 'partials/_staggered-image-header' with { header: entry.staggeredImageHeader } %}

  {% include 'blocks/_page-blocks' %}

  {% include 'about/_people-list' %}

  <div class="section-cta container">
    <div class="grid spaced align-right">
      <div class="col-md-1-2">
        <a href="/careers" class="button -black">Join the Team</a>
      </div>
    </div>
  </div>

  {% endcache %}
{% endblock %}