// Common styles

.section-label {
  @include small-titles;
  margin: 0;
  z-index: 1;
  position: relative;
  pointer-events: none;
  padding: beat(1) 0 beat(2);
  border-top: 1px solid color('black');
}

.section-cta {
  .button {
    width: 100%;
  }
  @include media-md {
    .button {
      width: auto;
      min-width: 398px;
    }
  }
}

// Project Grid
.project-grid {
  .project {
    .project-image {
      img {
        vertical-align: top;
      }
    }
    .services {
      @extend .semantic-list;
      margin-top: 16px;
      li {
        @include small-titles;
        display: inline-block;
      }
    }
    .project-title {
      @include p1;
      margin-top: 24px;
    }
  }
}