// Common styles

h4.lined {
  @include small-titles;
  margin: 0;
  z-index: 1;
  position: relative;
  pointer-events: none;
  padding: beat(1) 0 beat(2);
  border-top: 1px solid color('black');
}

%blockquote {
  margin: 0;
  padding: 0;
  p {
    @include h2-serif;
  }
  cite {
    display: block;
    @include small-titles;
    margin: 0;
    padding-top: beat(1.5);
    font-style: normal;
  }
}

.section-cta {
  .button {
    width: 100%;
  }
  @include media-md {
    .button {
      width: auto;
      min-width: 398px;
    }
  }
}

.top-section-header {
  .filter-links {
    text-align: right;
    a {
      @include p1;
      text-decoration: underline;
    }
  }
}

// Thumbnail grid (project/ideas)
.thumbnail-grid {
  .project {
    .project-image {
      img {
        vertical-align: top;
      }
    }

    .services {
      @extend %semantic-list;
      margin-top: beat(1);
      li {
        @include small-titles;
        display: inline-block;
      }
    }
  }
  // Project/ideas article
  article {
    margin-bottom: beat(3);
    img {
      display: block;
    }

    @include media-md {
      margin-bottom: beat(8);
    }
  }

  .category {
    @include small-titles;
  }
  h4 {
    margin: beat(1) 0;
  }
  h3 {
    @include p1;
    margin-top: beat(1);
  }
}
