// Common styles

// Thumbnails with second image hover
.rollover-image {
  position: relative;
  img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    @include transition(opacity);
  }
}
// Rollover states for non-touch (was requiring double-tap to open projects on ipads)
body:not(.-is-touch) {
  .rollover-image:hover {
    img:nth-child(2) {
      opacity: 1;
    }
  }
}

// Image reveals
.-reveal {
  opacity: 0;
  transform: translate3d(0, 40px, 0);
  transition: opacity 1s ease-out, transform .5s ease-out;

  @include media-md {
    transform: translate3d(0, 60px, 0);
  }

  &.-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

// Lined headers
h4.lined {
  @include small-titles;
  margin: 0;
  z-index: 1;
  position: relative;
  pointer-events: none;
  padding: beat(1) 0 beat(2);
  border-top: 1px solid color('black');
}

// Blockquotes
%blockquote {
  margin: 0;
  padding: 0;
  p {
    @include h2-serif;
  }
  cite {
    display: block;
    @include small-titles;
    margin: 0;
    padding-top: beat(1.5);
    font-style: normal;
  }
}

// Call. To. ACTION
.section-cta {
  .button {
    width: 100%;
  }
  @include media-md {
    .button {
      width: auto;
      min-width: 398px;
    }
  }
}

// Filter sections below text/image headers
.top-section-header {
  .filter-links {
    text-align: right;
    a {
      @include p1;
      text-decoration: underline;
    }
  }
}

// Thumbnail grid (project/ideas)
.thumbnail-grid {
  .project {
    .project-image {
      img {
        vertical-align: top;
      }
    }

    .services {
      @extend %semantic-list;
      margin-top: beat(1);
      li {
        @include small-titles;
        display: inline-block;
      }
    }
  }
  // Project/ideas article
  article {
    margin-bottom: beat(3);
    img {
      width: 100%;
      display: block;
    }

    @include media-md {
      margin-bottom: beat(8);
    }
  }

  .category {
    @include small-titles;
  }
  h4 {
    margin: beat(1) 0;
  }
  h3 {
    @include h3;
    margin-top: beat(1);
  }
}
