// Variables

// Colors
$colors: (
  'white': #fff,
  'white-dark': #fafafa,
  'offwhite': #f2f2f0,
  'black': #232323,
  'gray': #acaba8,
  'gray-light': #e5e5e3,
  'gray-dark': #757575,
  'red': #ff3d00
);
@function color($color-name) {
  @return map-get($colors, $color-name);
}

// Z-index maps
$z-layers: (
  bottomless-pit: -9999,
  default: 1,
  edge: 50,
  carousels: 60,
  header: 70,
  nav: 100,
  blobs: 150,
  overlay: 200,
  modal: 300,
  cursor: 500
);
@function z($key) {
  @return map-get($z-layers, $key);
}

// Header Height
$header-sm: 64px;
$header-md: 96px;

// Vertical Beat
$beat: 16px;

// Padding increment
$padding-sm: 17px;
$padding-md: 35px;
$padding-lg: 72px;

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;
$breakpoint-nav: 1100px;
$breakpoint-xl: 1400px;

// Custom cubic easings
$cubic-ease1: cubic-bezier(0.77, 0, 0.175, 1);
$cubic-ease2: cubic-bezier(0.165, 0.84, 0.44, 1);

// Base transition styles using @include transition(property)
$transition-duration: 0.5s;
$transition-easing: 'ease-out';
