/.env
/.idea
.notes
/vendor
!assets/scss/vendor
.DS_Store

# Build
# from yarn/webpack assets
.cache-loader
dist
node_modules
npm-debug.log
yarn-error.log
resources/assets/config-local.json

# Letsencrypt
.well-known

# Fabfile
*.pyc

# Bower
bower_components

# Licensed fonts
web/assets/fonts

# Treated images
web/imager

# Ignore unrevisioned assets
web/assets/dist/css/application.css
web/assets/dist/js/application.js

# Webfaction-specific PHP settings
web/php.ini

