<footer id="footer" class="site-footer">
  <div class="container">

    <div class="-top grid contact-cta">
      <div class="col-nav-1-2">
        <p class="label-large">Have a project in mind?</p>
      </div>
      <div class="col-nav-1-2">
        <a href="/contact" class="button -full hollow -white">We'd love to talk.</a>
      </div>
    </div>

    <div class="-bottom grid">
      <div class="col-nav-1-2">
        <p class="label-small">Newsletter Sign-up</p>

        <div id="signup" class="newsletter-section">
          {% include "/partials/_newsletter_form" %}
        </div>
      </div>

      <div class="col-nav-1-2">
        <div class="contact-section">
          <div>
            <h6 class="label-small">Location</h6>
            <div class="address">
              <span class="street-address">1402 N Western Ave</span><br>
              <span class="city">Chicago</span>
              <span class="region">Illinois</span>
              <span class="postal-code">60622</span>
            </div>

            <p class="tel">
              <span class="telephone">+1 773 489 3200</span>
            </p>

            <p class="map-link">
              <a href="https://goo.gl/maps/im4YsDbLnFH2" target="_blank">View Map</a>
            </p>
          </div>

          <div>
            <h6 class="label-small">Follow</h6>
            <ul class="social-links">
              <li><a href="https://instagram.com/firebellydesign/">Instagram</a></li>
              <li><a href="https://twitter.com/firebellydesign">Twitter</a></li>
              <li><a href="https://www.linkedin.com/company/firebelly-design/">LinkedIn</a></li>
              <li><a href="https://behance.net/firebelly">Behance</a></li>
            </ul>
          </div>

          <nav class="footer-nav">
            <h6 class="label-small">Etc</h6>
            <ul>
              <li><a href="/careers">Careers</a></li>
            </ul>
          </nav>
        </div>

      </div>
    </div>

  </div>
</footer>

<div class="outer-frame">
  <div class="container grid align-right">
    <div class="col-nav-1-2">
      <p><a href="/privacy-policy">Privacy Policy</a></p>
    </div>
  </div>
</div>

<script src="https://player.vimeo.com/api/player.js"></script>
<script src="{{ rev('/scripts/manifest.js') }}"></script>
<script src="{{ rev('/scripts/vendor.js') }}"></script>
<script src="{{ rev('/scripts/main.js') }}"></script>
