<head>
  <meta charset="utf-8">
  <title>{% if seoTitle is defined %}{{ seoTitle }}{% elseif title is defined %}{{ title }} | {{ siteName }}{% else %}{{ siteName }}{% endif %}</title>
  {% if canonicalUrl is defined -%}
  <link rel="canonical" href="{{ canonicalUrl }}">
  {% else -%}
  <link rel="canonical" href="{{ craft.app.request.absoluteUrl }}">
  {% endif -%}
  {% if seoDescription is defined -%}
  <meta name="description" content="{{ seoDescription }}">
  {% endif -%}
  <meta name="google-site-verification" content="clcwIm8zAwhSWBVXOhz9UBllB3mZpdOAXeoL2AaCZQc">
  <meta name="p:domain_verify" content="54d124bc9c4618cfe38edde207b08e55">

  <link rel="stylesheet" href="{{ rev('/styles/main.css')|replace('//', '/') }}">
  <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {# Facebook/og meta -#}
  <meta property="fb:app_id" content="1675583716017779">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_us">
  {% if entry is defined -%}
  <meta property="og:url" content="{{ entry.url }}">
  {% endif -%}
  <meta property="og:site_name" content="{{ siteName }}">
  <meta property="og:title" content="{% if seoTitle is defined %}{{ seoTitle }}{% elseif title is defined %}{{ title }} | {{ siteName }}{% else %}{{ siteName }}{% endif %}">
  {% if seoDescription is defined -%}
  <meta property="og:description" content="{{ seoDescription }}">
  {% endif -%}
  {% if seoImage is defined -%}
  {% set transformedImage = craft.imager.transformImage(seoImage, { width: 1200, height: 630, mode: 'crop' }) -%}
  <meta property="og:image" content="{{ transformedImage.getUrl() }}">
  <meta property="og:image:type" content="image/jpeg">
  {% elseif globalSeo.shareImage|length -%}
  {% set transformedImage = craft.imager.transformImage(globalSeo.shareImage.one(), { width: 1200, height: 630, mode: 'crop' }) -%}
  <meta property="og:image" content="{{ transformedImage.getUrl() }}">
  <meta property="og:image:type" content="image/jpeg">
  {% endif -%}
  {# Twitter Card -#}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@firebellydesign">
  <meta name="twitter:creator" content="@firebellydesign">
  <meta name="twitter:title" content="{% if seoTitle is defined %}{{ seoTitle }}{% elseif title is defined %}{{ title }} | {{ siteName }}{% else %}{{ siteName }}{% endif %}">
  {% if seoDescription is defined -%}
  <meta name="twitter:description" content="{{ seoDescription }}">
  {% endif -%}
  {% if seoImage is defined -%}
  {% set transformedImage = craft.imager.transformImage(seoImage, { width: 1200, height: 600, mode: 'crop' }) -%}
  <meta property="twitter:image" content="{{ transformedImage.getUrl() }}">
  {% elseif globalSeo.shareImage|length -%}
  {% set transformedImage = craft.imager.transformImage(globalSeo.shareImage.one(), { width: 1200, height: 600, mode: 'crop' }) -%}
  <meta property="twitter:image" content="{{ transformedImage.getUrl() }}">
  {% endif -%}

  <link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <script>
    document.createElement('picture'); // HTML5 shiv
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js" async></script>

  {# Inject SVGs Defs for SVG icon use -#}
  <script>
    var ajax = new XMLHttpRequest();
    ajax.open("GET", "{{ rev('/svgs-defs.svg') }}", true);
    ajax.send();
    ajax.onload = function(e) {
      var div = document.createElement("div");
      div.className += "svg-defs hidden";
      div.setAttribute("aria-hidden", "true");
      div.innerHTML = ajax.responseText;
      document.body.insertBefore(div, document.body.childNodes[0]);
    }
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-998109-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
