{# Hiding tag nav for now #}
{#
{% if tag is defined %}
  {% set activeTag = tag %}
{% endif %}
{% set entries = craft.entries.section('ideas').limit(null) %}
<section id="filters" class="divider section-nav interior">
  <h1>Filter:</h1>
  <ul>
    <li class="show-all"><a href="/ideas" {% if activeTag is not defined %}class="selected"{% endif %}>All posts</a></li>
    {% for tag in craft.tags.relatedTo({sourceElement: entries, field: 'tags'}).orderBy('title').all() %}
      {% set tagUrl = '/ideas/tagged/' ~ tag.slug %}
      <li><a {% if activeTag is defined and activeTag.slug == tag.slug %}class="selected"{% endif %} href="{{tagUrl}}">{{tag.title}}</a></li>
    {% endfor %}
  </ul>
</section>
#}
