{% set nextEntry = craft.entries.section('work').positionedAfter(entry).orderBy('lft asc').one() %}
{% if not nextEntry %}
  {% set nextEntry = craft.entries.section('work').one() %}
{% endif %}

{% set rolloverImages = [] %}
{% if nextEntry.nextProjectImages|length %}
  {% for image in nextEntry.nextProjectImages.all() %}
    {% if not (image.filename matches '/(gif|svg|json)$/') %}
      {% set transformedImage = craft.imager.transformImage(image, { width: 800, height: 450, mode: 'crop', quality: 75 }) %}
      {% if transformedImage %}
        {% set rolloverImages = rolloverImages|merge([ { transformedImage: transformedImage, title: image.title } ]) %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

<nav class="pagination -next">
  {% if rolloverImages|length %}
    <div class="rollover-images" data-num-images="{{ rolloverImages|length }}">
      {% for image in rolloverImages[1:] %}
        <img src="{{ image.transformedImage.getUrl() }}" alt="{{ image.title }}">
      {% endfor %}
      {# Put first image last because of CSS animator behavior #}
      <img src="{{ rolloverImages|first.transformedImage.getUrl() }}" alt="{{ rolloverImages|first.title }}">
    </div>
  {% endif %}

  <div class="container">
    <div class="-inner">
      <a rel="next" href="{{ nextEntry.getUrl() }}">
        <div class="link">
          <div class="grid">
            <div class="col-1-2">
              Next<br>Project
            </div>
            <div class="col-1-4 project-title">
              {{ nextEntry.title }}
              <span class="subtitle">
                {{ nextEntry.subtitle}}
              </span>
            </div>
          </div>
          <svg class="icon icon-big-arrow" aria-hidden="true"><use xlink:href="#icon-big-arrow"/></svg>
        </div>
      </a>
    </div>
  </div>
</nav>
