  {# Pagination for Channel sections #}
  {% set params = craft.entries.section(paginationSection).orderBy('postDate asc, id asc') %}
  {% set prevEntry = entry.getPrev(params) %}
  {% set nextEntry = entry.getNext(params) %}
  <nav class="footer-pagination">
    <ul>
      {% if prevEntry %}
      <li class="prev">
        <a rel="prev" href="{{ prevEntry.getUrl() }}"><span class="arrow">&larr;</span> Previous {{ postName }}</a>
      </li>
      {% endif %}
      {% if nextEntry %}
      <li class="next">
        <a rel="next" href="{{ nextEntry.getUrl() }}">Next {{ postName }} <span class="arrow">&rarr;</span></a>
      </li>
      {% endif %}
    </ul>
  </nav>
