  {# Pagination for Channel sections #}
  {% set params = craft.entries.section(paginationSection).orderBy('postDate asc, id asc') %}
  {% set prevEntry = entry.getPrev(params) %}
  {% set nextEntry = entry.getNext(params) %}
  <nav class="pagination -next-prev{{ nextEntry ? '' : ' no-next' }}">
    <div class="container">
      <div class="-inner">
        <div class="grid">
          <div class="col-md-1-2">
            {% if prevEntry %}
              <a rel="prev" href="{{ prevEntry.getUrl() }}">
                <span class="padded">
                  <svg class="icon icon-big-arrow" aria-hidden="true"><use xlink:href="#icon-big-arrow"/></svg>
                  <span class="link">Previous Post</span>
                  <span class="title">{{ prevEntry.title }}</span>
                </span>
              </a>
            {% endif %}
          </div>
          <div class="col-md-1-2">
            {% if nextEntry %}
              <a rel="next" href="{{ nextEntry.getUrl() }}">
                <span class="padded">
                  <svg class="icon icon-big-arrow" aria-hidden="true"><use xlink:href="#icon-big-arrow"/></svg>
                  <span class="link">Next Post</span>
                  <span class="title">{{ nextEntry.title }}</span>
                </span>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </ul>
  </nav>
