<nav class="project-nav" role="navigation">
  <ul class="projects clearfix">
    {% set entries = craft.entries({
        section: 'work',
        with: [
          'altImage',
          'mainImage'
        ]
    }) %}
    {% for entry in entries.all() %}
      {% set altImage = entry.altImage[0] ?? null %}
      {% if entry.altImage %}
        {% set mainImage = altImage %}
      {% else %}
        {% set mainImage = entry.mainImage[0] ?? null %}
      {% endif %}
      {% if mainImage %}
        {% set transformedImage = craft.imager.transformImage(mainImage, { width: 400, height: 300, mode: 'crop' }) %}
        <li class="project">
          <article>
              <div class="project-image lazyload" data-bg="{{ craft.app.config.general.cdnUrl }}{{ transformedImage.getUrl() }}" alt="{{ mainImage.title }}"></div>
            <header>
              <h1><a href="{{ entry.getUrl() }}">{{ entry.title }}</a></h1>
              {% if entry.rolloverSubtitle %}
                <h3>{{ entry.rolloverSubtitle }}</h3>
              {% endif %}
            </header>
            <a aria-label="{{ entry.title }}: {{ entry.rolloverSubtitle }}" class="view-project" href="{{ entry.getUrl() }}"></a>
          </article>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
