{% if thumbnailImage %}
  {% switch orientation %}
    {% case 'portrait' %}
      {% set imgSrcSets = [ { width: 1200, ratio: 10/13.48 }, { width: 750, ratio: 10/13.48, jpegQuality: 65 }, ]  %}
      {% set imgSizes = '(max-width: 768px) 100vw, 50vw' %}
    {% case 'fullWidth' %}
      {% set imgSrcSets = [ { width: 1700, ratio: 10/5.73 }, { width: 750, ratio: 10/5.73, jpegQuality: 65 }, ]  %}
      {% set imgSizes = '100vw' %}
    {% default %}
      {% set imgSrcSets = [ { width: 1200, ratio: 10/5.73 }, { width: 750, ratio: 10/5.73, jpegQuality: 65 }, ]  %}
      {% set imgSizes = '(max-width: 768px) 100vw, 50vw' %}
  {% endswitch %}

  {% set transformedImages = craft.imager.transformImage(thumbnailImage, imgSrcSets, { mode: 'crop', jpegQuality: 80, interlace: true }) %}
  {% set transformedHoverImages = craft.imager.transformImage(thumbnailImageHover, imgSrcSets, { mode: 'crop', jpegQuality: 80, interlace: true }) -%}

  {% if craft.imager.serverSupportsWebp() %}
    {% set transformedImagesWebp = craft.imager.transformImage(thumbnailImage, imgSrcSets, { format: 'webp', mode: 'crop', jpegQuality: 80, interlace: true }) %}
    {% set transformedHoverImagesWebp = craft.imager.transformImage(thumbnailImageHover, imgSrcSets, { format: 'webp', mode: 'crop', jpegQuality: 80, interlace: true }) %}
  {% endif %}

  <a class="-inner js-cursor" href="{{ entry.getUrl() }}" data-cursor-class="view">
    <div class="rollover-image">
      <picture>
        {% if transformedImagesWebp is defined %}
          <source sizes="{{ imgSizes }}" srcset="{{ craft.imager.srcset(transformedImagesWebp) }}" type="image/webp">
        {% endif %}
        <img src="{{ transformedImages[1].url }}" sizes="{{ imgSizes }}" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ thumbnailImage.altText | length ? thumbnailImage.altText : thumbnailImage.title }}">
      </picture>
      <picture>
        {% if transformedHoverImagesWebp is defined %}
          <source sizes="{{ imgSizes }}" srcset="{{ craft.imager.srcset(transformedHoverImagesWebp) }}" type="image/webp">
        {% endif %}
        <img src="{{ transformedHoverImages[1].url }}" sizes="{{ imgSizes }}" srcset="{{ craft.imager.srcset(transformedHoverImages) }}" alt="{{ thumbnailImage.altText | length ? thumbnailImage.altText : thumbnailImage.title }}">
      </picture>
    </div>
  </a>
{% endif %}
