{% set navItems = ['work','services','about','ideas','contact'] %}

<nav class="site-nav" role="navigation">
  <button id="nav-close" class="nav-toggle close"><svg class="icon icon-close" aria-hidden="true" role="presentation"><use xlink:href="#icon-close"/></svg></button>
  <ul class="primary">
    {% for navItem in navItems %}
      <li class="nav-{{ navItem }}{{ entry is defined and entry.slug == navItem or craft.app.request.getSegment(1) == navItem ? ' -current' : '' }}"><a href="/{{ navItem }}">{{ navItem | capitalize }}</a></li>
    {% endfor %}
  </ul>
</nav>