<div class="site-search hidden">
  <div class="container">
    <form class="search-form -light" action="{{ url('search/results') }}">
      <p>Search prompt title lorem ipsum dolor sit amet consectetur.</p>
      <fieldset>
        <div class="input-wrap">
          <input type="search" name="q" aria-label="Search" placeholder="Enter keyword(s)">
        </div>
        <div class="button-wrap">
          <button type="submit" class="button hollow -white">Search</button>
        </div>
      </fieldset>
    </form>
    <div class="search-results"></div>
  </div>
</div>
