{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? '_ajax-layout' : '_layout' %}

{% set title = entry.title %}
{% set bodyClass = 'with-blobs' %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% if entry.seoImage|length %}
  {% set seoImage = entry.seoImage.one() %}
{% elseif entry.staggeredImageHeader.mainImage|length %}
  {% set seoImage = entry.staggeredImageHeader.mainImage.one() %}
{% endif %}

{% block content %}

  {% include 'partials/_text-header' %}

  {% include 'partials/_staggered-image-header' with { header: entry.staggeredImageHeader } %}

  {% include 'blocks/_page-blocks' %}

  <div class="block-wrap">
    <div class="-inner">

      <div class="block-section-header">
        <h3>Open Positions</h3>
      </div>

      {% if entry.positions|length %}
        <div class="current-positions">
        {% for position in entry.positions.all() %}
          <div class="position accordion" data-position="{{ position.slug }}">
            <div class="anchor" id="{{ position.slug }}"></div>

            <div class="block-text halfWidth">
              <div class="-inner">
                <h2>{{ position.title }}</h2>
              </div>
            </div>
            <div class="block-text halfWidth">
              <div class="-inner">
                <div class="intro">
                  {{ position.positionInfo.intro }}
                </div>
                <a href="#{{ position.slug }}" class="expand" title="Expand position details">
                  <svg class="icon icon-plus" aria-hidden="true"><use xlink:href="#icon-plus"/></svg>
                </a>
                <a href="#{{ position.slug }}" class="toggle collapse" title="Collapse position details">
                  <svg class="icon icon-minus" aria-hidden="true"><use xlink:href="#icon-minus"/></svg>
                </a>
                <div class="description user-content">
                  {{ position.positionInfo.description }}
                </div>
              </div>
            </div>

          </div>
        {% endfor %}
        </div>
      {% endif %}

      <div class="block-text user-content fullWidthPaddedLeft">
        <div class="-inner">
          {% if entry.positions|length == 0 %}
            <p>Nothing at the moment. ¯\_(ツ)_/¯</p>
          {% endif %}

          {{ entry.positionsOutro }}
        </div>
      </div>

      <div class="block-section-header">
        <h3>Apprenticeship Program</h3>
      </div>

      <div class="block-quote user-content fullWidthPaddedLeft">
        <div class="-inner">
          <blockquote>
            <p>{{ entry.apprenticeshipProgram.intro }}</p>
          </blockquote>
        </div>
      </div>

      <div class="block-text user-content fullWidthPaddedRight">
        <div class="-inner">
          {{ entry.apprenticeshipProgram.body }}
        </div>
      </div>

    </div>
  </div><!-- /.block-wrap -->

{% endblock %}
