{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% block content %}

  {% include 'partials/_text-header' %}

  {% include 'partials/_staggered-image-header' with { header: entry.staggeredImageHeader } %}

  {% include 'blocks/_page-blocks' %}

  <div class="block-wrap container">

    <div class="section-header">
      <h3>Open Positions</h3>
    </div>

    {% if entry.openPositions|length %}
      <div class="current-positions">
      {% for block in entry.openPositions.all() %}
        <div class="position">
          <h2>{{ block.positionTitle }}</h2>
          {{ block.positionDescription }}
        </div>
      {% endfor %}
      </div>
    {% endif %}

    <div class="block-text user-content fullWidthPaddedLeft">
      <div class="-inner">
        {% if entry.openPositions|length == 0 %}
          <p>Nothing at the moment. ¯\_(ツ)_/¯</p>
        {% endif %}

        {{ entry.positionsOutro }}
      </div>
    </div>

    <div class="section-header">
      <h3>Open Positions</h3>
    </div>

    <div class="block-text user-content fullWidthPaddedLeft">
      <div class="-inner">
        {{ entry.apprenticeshipProgram.intro }}
      </div>
    </div>

    <div class="block-text user-content fullWidthPaddedRight">
      <div class="-inner">
        {{ entry.apprenticeshipProgram.body }}
      </div>
    </div>


  </div>

{% endblock %}