{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% set pageHeaderImage = entry.pageHeaderImage.one() %}

{% block content %}

  <article class="clearfix">
    {% if pageHeaderImage %}
      {% set transformedImage = craft.imager.transformImage(pageHeaderImage, { width: 1800 }) %}
      <div class="featured-image" style="background-image:url({{ transformedImage.getUrl() }});"></div>
    {% else %}
      <hr class="article-divider">
    {% endif %}

    <div class="inner-wrapper">

      <header class="section-title">
        <h1>{{ entry.title }}</h1>
      </header>
      <section class="summary user-content">
        {{ entry.body }}

        <div class="current-positions">
        {% for block in entry.currentPositions.all() %}
          <div class="position">
            <h6>{{ block.positionTitle }}</h6>
            {{ block.positionDescription }}
          </div>
        {% endfor %}
        </div>

        {% if entry.pastPositions %}
        <div class="past-positions">
          <hr class="article-divider">

          <h1>Previous Openings</h1>

          {% for block in entry.pastPositions.all() %}
          <div class="position">
            <h6>{{ block.positionTitle }}</h6>
            {{ block.positionDescription }}
          </div>
          {% endfor %}

        </div>
        {% endif %}

      </section>

    </div>

  </article>
{% endblock %}