{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? '_ajax-layout' : '_layout' %}

{% set title = entry.title %}
{% set bodyClass = 'with-blobs' %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% if entry.seoImage|length %}{% set seoImage = entry.seoImage.one() %}{% endif %}

{% block content %}
  {% cache unless currentUser %}

  {% include 'partials/_text-header' %}

  {% include 'partials/_intro' %}

  <div class="block-wrap">
    <div class="-inner">
      <div class="block-stat-table services-list">
        <ul>
        {% for service in craft.categories.group('services').all() %}
          <li class="grid bigclicky">
            <h4 class="figure col-md-1-2">
              <a href="{{ service.getUrl() }}">{{ service.title }}</a>
            </h4>
            <div class="label col-md-1-2">
              {{ service.body }}
              <svg class="icon icon-arrow" aria-hidden="true"><use xlink:href="#icon-arrow"/></svg>
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="our-clients">
    <div class="block-wrap">
      <div class="-inner">
        <div class="block-section-header">
          <h3>{{ entry.clients.headline }}</h3>
        </div>
        {% if entry.clients.body %}
          <div class="block-text user-content fullWidthPaddedLeft">
            <div class="-inner">
              {{ entry.clients.body }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="container client-logos">
      <ul>
        {% for group in entry.clients.clients.with(['clientGroup:clientLogos']).all() %}
          <li>
            {% for logo in group.clientLogos %}
              <span><img src="{{ logo.getUrl() }}" alt="{{ logo.altText | length ? logo.altText : logo.title }}"></span>
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  {#
  {% if entry.industries|length %}
    <div class="industries">
      <div class="block-wrap">
        <div class="-inner">
          <div class="block-section-header">
            <h3>Industries</h3>
          </div>
        </div>
      </div>

      <div class="container">
        <ul>
          {% for industry in entry.industries.with('industry').all() %}
            <li>{{ industry.industry[0].title }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
  #}

  {% endcache %}
{% endblock %}
