<div class="block-carousel -reveal">
  <div class="flickity js-cursor">
    {% for image in block.images %}
      {% set embeddedAsset = craft.embeddedAssets.get(image) %}
      {% if embeddedAsset %}

        {# Custom vimeo handling #}
        {% if embeddedAsset.url matches '/vimeo\.com/' %}
          <div class="embedded-asset vimeo-block{{ block.backgroundVideo ? ' background-video' : '' }}" data-url="{{ embeddedAsset.url }}" data-width="{{ embeddedAsset.width }}" data-height="{{ embeddedAsset.height }}">
            <img class="lazyload" data-src="{{ embeddedAsset.images[0].url }}">
          </div>
        {% else %}
          {{ embeddedAsset.html }}
        {% endif %}

      {% else %}

        {# Leave GIFs alone #}
        {% if not (image.filename matches '/gif$/') %}
          {% set imgSrcSets = [ { width: 2000 }, { width: 750, jpegQuality: 65 }, ]  %}
          {% set imgSizes = '100vw' %}
          {% set transformedImages = craft.imager.transformImage(image, imgSrcSets, { jpegQuality: 80, interlace: true }) %}
          {% if craft.imager.serverSupportsWebp() %}
            {% set transformedImagesWebp = craft.imager.transformImage(image, imgSrcSets, { format: 'webp', jpegQuality: 80, interlace: true }) %}
          {% endif %}
        {% endif %}

        {% set orientation = image.getWidth() > image.getHeight() ? 'landscape' : 'portrait' %}
        <div class="slide {{ orientation }}">
          {%- if block.imageLinkUrl %}<a href="{{ block.imageLinkUrl }}" target="_blank" rel="noopener">{% endif -%}

            <picture>
            {% if image.filename matches '/gif$/' %}
              <img src="{{ image.getUrl() }}" alt="{{ image.altText | length ? image.altText : image.title }}">
            {% else %}
                {% if transformedImagesWebp is defined %}
                  <source sizes="{{ imgSizes }}" srcset="{{ craft.imager.srcset(transformedImagesWebp) }}" type="image/webp">
                {% endif %}
                <img loading="lazy" sizes="{{ imgSizes }}" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ image.altText | length ? image.altText : image.title }}">
            {% endif -%}
            </picture>

          {%- if block.imageLinkUrl %}</a>{% endif -%}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
