<div class="block-carousel -reveal">
  <div class="flickity js-cursor">
    {% for image in block.images %}
      {% set embeddedAsset = craft.embeddedAssets.get(image) %}
      {% if embeddedAsset %}

        {# Custom vimeo handling #}
        {% if embeddedAsset.url matches '/vimeo\.com/' %}
          <div class="embedded-asset vimeo-block{{ block.backgroundVideo ? ' background-video' : '' }}" data-url="{{ embeddedAsset.url }}" data-width="{{ embeddedAsset.width }}" data-height="{{ embeddedAsset.height }}">
            <img class="lazyload" data-src="{{ embeddedAsset.images[0].url }}">
          </div>
        {% else %}
          {{ embeddedAsset.html }}
        {% endif %}

      {% else %}

        <div class="slide {{ image.getWidth() > image.getHeight() ? 'landscape' : 'portrait' }}">
          {%- if block.imageLinkUrl %}<a href="{{ block.imageLinkUrl }}" target="_blank" rel="noopener">{% endif -%}
            {# Leave GIFs alone #}
            {% if image.filename matches '/gif$/' %}
              <img data-flickity-lazyload-src="{{ image.getUrl() }}" alt="{{ image.altText | length ? image.altText : (titleOverride is defined ? titleOverride : image.title) }}">
            {% else %}
              {% set transformedImages = craft.imager.transformImage(image, [ { width: 1800 }, { width: 750, jpegQuality: 70 }, ], { jpegQuality: 80, interlace: true }) %}
              <img
                sizes="(min-width: 768px) 1800px, 750px"
                data-flickity-lazyload-srcset="{{ craft.imager.srcset(transformedImages) }}"
                data-flickity-lazyload-src="{{ transformedImages[1].getUrl() }}"
                alt="{{ image.altText | length ? image.altText : (titleOverride is defined ? titleOverride : image.title) }}"
                />
            {% endif %}
          {%- if block.imageLinkUrl %}</a>{% endif -%}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
