<div class="block-carousel -reveal">
  <div class="flickity js-cursor">
    {% for image in block.images %}
      {% set embeddedAsset = craft.embeddedAssets.get(image) %}
      {% if embeddedAsset %}

        {# Custom vimeo handling #}
        {% if embeddedAsset.url matches '/vimeo\.com/' %}
          <div class="embedded-asset vimeo-block{{ block.backgroundVideo ? ' background-video' : '' }}" data-url="{{ embeddedAsset.url }}" data-width="{{ embeddedAsset.width }}" data-height="{{ embeddedAsset.height }}">
            <img class="lazyload" data-src="{{ embeddedAsset.images[0].url }}">
          </div>
        {% else %}
          {{ embeddedAsset.html }}
        {% endif %}

      {% else %}

        <div class="slide {{ image.getWidth() > image.getHeight() ? 'landscape' : 'portrait' }}">
          {%- if block.imageLinkUrl %}<a href="{{ block.imageLinkUrl }}" target="_blank" rel="noopener">{% endif -%}
            {% include "partials/_picture" with {
              image: image,
              imgSrcSets: [ { width: 1800 }, { width: 750, jpegQuality: 70 }, ],
              imgSizes: '100vw',
              nativeLazy: true
            } %}
          {%- if block.imageLinkUrl %}</a>{% endif -%}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
