{% for image in block.image %}
  {% if block.treated %}
    {% set treatedEffects = { modulate: [100, 0, 100], clut: 'gradient:#000000-#ffffff' } %}
  {% else %}
    {% set treatedEffects = {} %}
  {% endif %}
  {% if block.size matches '/halfWidth/' or block.size matches '/Padded/' %}
    {% set imgSrcSets = [ { width: 1200 }, { width: 750, jpegQuality: 70 }, ]  %}
    {% set imgSizes = '(max-width: 768px) 100vw, 50vw' %}
  {% else %}
    {% set imgSrcSets = [ { width: 1800 }, { width: 750, jpegQuality: 70 }, ]  %}
    {% set imgSizes = '100vw' %}
  {% endif %}

  {% set embeddedAsset = craft.embeddedAssets.get(image) %}
  <div class="block-image -reveal {{ block.size }}">
    <div class="-inner">
    {% if embeddedAsset %}
      <figure>
        {# Custom vimeo handling #}
        {% if embeddedAsset.url matches '/vimeo\.com/' %}
          <div class="embedded-asset vimeo-block{{ block.backgroundVideo ? ' background-video' : '' }}" data-url="{{ embeddedAsset.url }}" data-width="{{ embeddedAsset.width }}" data-height="{{ embeddedAsset.height }}" style="padding-bottom:{{ embeddedAsset.height / embeddedAsset.width * 100 }}%;">
            <img class="lazyload" data-src="{{ embeddedAsset.images[0].url }}">
          </div>
        {% else %}
          {{ embeddedAsset.html }}
        {% endif %}
        {% if image.caption %}
          <figcaption>{{ image.caption }}</figcaption>
        {% endif %}
      </figure>
    {% else %}

      {%- if browserFrame is defined and browserFrame.browserFrameActive %}
        <div class="browser-frame">
          <div class="browserdots"></div>
          <div class="site{% if browserFrame.browserFrameScroll %} scroll{% endif %}"{% if browserFrame.browserFrameScroll %} style="padding-bottom:{{ browserFrame.scrollHeight }}%;"{% endif %}>
            {%- if browserFrame.browserFrameScroll %}<div class="scroll-content">{% endif -%}
      {% endif -%}

      <figure>
        <div class="-aspect-ratio-pad" style="padding-bottom: {{ image.height / image.width * 100 }}%">
          {%- if block.imageLinkUrl %}<a href="{{ block.imageLinkUrl }}" target="_blank" rel="noopener">{% endif -%}

            {% include "partials/_picture" with {
              image: image,
              imgSrcSets: imgSrcSets,
              imgSizes: imgSizes,
              treatedEffects: treatedEffects,
              lazy: true
            } %}

          {%- if block.imageLinkUrl %}</a>{% endif -%}
        </div>
        {% if image.caption %}
          <figcaption>{{ image.caption }}</figcaption>
        {% endif %}
      </figure>

      {%- if browserFrame is defined and browserFrame.browserFrameActive %}
          {%- if browserFrame.browserFrameScroll %}</div>{% endif -%}
          </div><!-- .site -->
        </div><!-- .browser-frame -->
      {% endif -%}
    {% endif %}

    {% if block.text and loop.last %}
      <div class="block-text user-content">
        {{ block.text }}
      </div>
    {% endif %}
    </div><!-- /.-inner -->
  </div>
{% endfor %}
