{% set colorPairs = '' %}
{% if block.colors | length %}
  {% set colorPairsArray = [] %}
  {% for colorPair in block.colors %}
    {% set colorPairVals = [colorPair.textColor, colorPair.backgroundColor]|filter|join('-') %}
    {% set colorPairsArray = colorPairsArray|merge([colorPairVals]) %}
  {% endfor %}
  {% set colorPairs = colorPairsArray|join(' ') %}
{% endif %}
<div class="block-type-tester">
  <div class="type-tester" data-font="{{ block.fontName }}" data-font-size="{{ block.startingFontSize }}" data-line-height="{{ block.lineHeight }}" data-min-size="{{ block.minFontSize }}" data-max-size="{{ block.maxFontSize }}" data-color-pairs="{{ colorPairs }}" data-svg-url="{{ block.svgFontFile[0].getUrl() }}" data-initial-alignment="{{ block.initialAlignment }}">
    <style>
      @font-face {
        font-family: '{{ block.fontName }}';
        src: url('{{ block.woffFontFile[0].getUrl() }}') format('woff'),
             url('{{ block.svgFontFile[0].getUrl() }}') format('svg');
        font-weight: normal;
        font-style: normal;
      }
      {% include "partials/_blank-font-face" %}
    </style>
    <div class="-inner">
      <div class="test-para{{ block.initialView == 'typeTester' ? ' -active' : '' }}" contenteditable="true">
        {% if block.sampleText %}
          {{ block.sampleText }}<span class="type-cursor"></span>
        {% else %}
          Start typing here to test font lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum accusantium laboriosam velit distinctio atque eius rerum necessitatibus in doloribus nemo aspernatur, aut, blanditiis debitis numquam saepe ab neque repellat tenetur.<span class="type-cursor"></span>
        {% endif %}
      </div>
      {% if block.svgFontFile[0] %}
        <div class="typeTesterSvgFont" style="display:none;"></div>
        <div class="glyphChart{{ block.initialView == 'glyphsChart' ? ' -active' : '' }}">
          <ul class="glyphsLowercase" style="font-family:{{ block.fontName }};font-size: {{ block.startingFontSize }}px;line-height:{{ block.glyphsLineHeight ? block.glyphsLineHeight : '1' }};"></ul>
          <ul class="glyphsUppercase" style="font-family:{{ block.fontName }};font-size: {{ block.startingFontSize }}px;line-height:{{ block.glyphsLineHeight ? block.glyphsLineHeight : '1' }};"></ul>
          <ul class="glyphsOther" style="font-family:{{ block.fontName }};font-size: {{ block.startingFontSize }}px;line-height:{{ block.glyphsLineHeight ? block.glyphsLineHeight : '1' }};"></ul>
        </div>
      {% endif %}
    </div>
  </div>
</div><!-- /.block-type-tester -->
