/*

    _/_/_/_/  _/_/_/
   _/        _/    _/
  _/_/_/    _/_/_/
 _/        _/    _/
_/        _/_/_/

*/

*, *:before, *:after {
  box-sizing: inherit;
}

// CSS vars
:root {
  --projectBlockColor: #{color('black')};
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  color: color('black');
  box-sizing: border-box;
  padding-top: $header-sm; // making room for the fixed header
  background: color('white');
  font: 16px/24px $font-sans, serif;

  @include media-nav {
    padding-top: $header-md;

    &::after {
      top: 0;
      right: 0;
      bottom: 0;
      z-index: z(edge);
      content: '';
      position: fixed;
      width: $padding-lg;
      background-color: color('white');
    }
  }
}

.site-main {
  background-color: color('offwhite');
  border-left: 5px solid color('white');
  border-right: 5px solid color('white');
  @include media-md {
    border: none;
    margin-right: 72px;
  }
}

// Canvas
canvas {
  top: 0;
  left: 0;
  z-index: z(blobs);
  position: absolute;
  pointer-events: none;
  // mix-blend-mode: multiply;
}

a {
  color: inherit;
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

img {
  height: auto;
  max-width: 100%;
}

::selection {
  color: color('white');
  background: color('black');
}

// Site Container
.container {
  padding: 0 13px;
  @include media-md {
    padding: 0 #{$padding-lg * 1} 0 #{$padding-lg * 2};
  }
}

// Superscript
h1,
h2,
h3 {
  sup {
    @include font-sans;
  }
}

.bigclicky {
  cursor: pointer;
}

.edit-bug {
  margin-top: 20px;
}

// Edit link
.edit-link {
  position: absolute;
  top: 46px;
  left: 120px;
  transition: 0.2s opacity;
  opacity: 0;
  a {
    transition: 0.2s color;
    color: rgba(35,31,32,.5);
    &:hover {
      color: rgba(35,31,32,1);
    }
  }
}
.site-header:hover {
  .edit-link {
    opacity: 1;
  }
}
