// Project/page blocks

// Wrapper for all non-fullwidth blocks
.block-wrap {
  margin-left: -#{$padding-sm / 2};
  width: calc(100% + #{$padding-sm});
  // Pull out edges for padded internal blocks (a la .grid.spaced)
  > .-inner {
    display: flex;
    flex-wrap: wrap;
    padding: 0 $padding-sm;
  }

  // Add padding to all blocks inside .block-wrap
  .block-type-tester,
  .block-stat-table,
  .block-text,
  .block-quote,
  .block-image {
    padding: beat(1) #{$padding-sm / 2};
  }
  .block-section-header {
    padding: 0 #{$padding-sm / 2};
  }

  // Text inside image blocks
  .block-image .block-text {
    padding: beat(1) 0 0;
  }

  // Desktop styles
  @include media-md {
    margin-left: -#{$padding-md / 2};
    width: calc(100% + #{$padding-md});
    > .-inner {
      padding: 0 #{$padding-lg * 1} 0 #{$padding-lg * 2};
    }

    .block-section-header {
      padding: 0 #{$padding-md / 2};
    }

    .block-type-tester,
    .block-stat-table,
    .block-quote,
    .block-text,
    .block-image {
      padding: beat(4) #{$padding-md / 2};
    }
    // Text inside image blocks
    .block-image .block-text {
      padding: beat(2) 0 0;
    }
  }
}

// Lists with giant header text at left + body text at right (misgnomer of the year, I apologize)
.block-stat-table {
  width: 100%;

  ul {
    @extend %semantic-list;
  }
  li {
    align-items: flex-end;
    padding: beat(2) 0;
    border-bottom: 1px solid color(black); // for IE
    border-bottom: 1px solid var(--projectBlockColor);
    .figure {
      @include h1-sans;
      margin: 0;
    }
    .label {
      p {
        @include p2;
        margin: 0 0 6px;
      }
    }
  }

  @include media-md {
    li {
      .figure {
        padding-right: #{$padding-md / 2};
      }
      .label {
        padding-left: #{$padding-md / 2};
      }
    }
  }
}

// Lined, small caps section header
.block-section-header {
  width: 100%;
  h3 {
    @include small-titles;
    border-top: 1px solid color(black); // for IE
    border-top: 1px solid var(--projectBlockColor);
    padding-top: beat(1);
  }
}

// Block spacer
.block-spacer {
  flex-basis: 100%;
  padding: beat(2) 0;

  &.-medium {
    padding: beat(3) 0;
  }

  &.-large {
    padding: beat(4) 0;
  }

  @include media-md {
    padding: beat(3) 0;

    &.-medium {
      padding: beat(4) 0;
    }

    &.-large {
      padding: beat(8) 0;
    }
  }
}

// Full width/half width areas
.block-text,
.block-quote,
.block-image {
  flex: 0 1 100%;
  img {
    width: 100%;
    display: block;
    max-width: none;
  }

  @include media-md {
    &.fullWidthPaddedLeft {
      > .-inner {
        padding-left: calc(50% + #{$padding-md / 2});
      }
    }
    &.fullWidthPaddedRight {
      > .-inner {
        padding-right: calc(50% + #{$padding-md / 2});
      }
    }
    &.halfWidth {
      clear: none;
      flex: 0 1 50%;
    }
  }
}

// Browser Frame
// optionally used on image blocks
.browser-frame {
  padding-top: 20px;
  position: relative;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);

  .browserdots {
    top: 7px;
    left: 10px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    &::before,
    &::after {
      top: 0;
      content: '';
      width: 7px;
      height: 7px;
      position: absolute;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.2);
    }
    &::before {
      left: 13px;
    }
    &::after {
      left: 26px;
    }
  }

  .site {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .scroll {
    height: 0;
    overflow: scroll;
    position: relative;
    padding-bottom: 75%;
  }

  .scroll-content {
    top: 0;
    width: 100%;
    position: absolute;
  }

  img {
    width: 100%;
    display: block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
