// Footer

// Back to Top
.to-top {
  text-align: right;
  padding: beat(2) 0;

  p {
    @include p1;
  }

  a:hover,
  a:focus {
    color: color('red');
  }

  @include media-nav {
    height: auto;
    padding: beat(3) 0;
    padding-right: $padding-lg;
    background-color: color('white');

    p {
      display: block;
    }
  }
}

.site-footer {
  padding: $padding-lg 0;
  color: color('white-dark');
  background-color: color('black');

  @include media-nav {
    margin-right: 72px;
    padding: 156px 0;
  }

  .label {
    &-large {
      @include h1-sans;
      margin: 0;

      @include media-lg {
        @include h1-sans;
      }
    }
    &-small {
      @include small-titles;
    }
  }

  .-top {
    .label-large {
      max-width: 224px;
      margin-bottom: 64px;
    }

    @include media-md {
      .label-large {
        max-width: 400px;
      }
    }

    @include media-nav {
      align-items: flex-end;
      padding-bottom: 156px;

      .lable-large {
        margin-bottom: 0;
      }

      .button {
        margin-bottom: 56px;
      }
    }
  }

  .-bottom {
    margin-top: 64px;
    padding-top: 15px;
    border-top: 1px solid color('white-dark');

    .label-small {
      margin-top: 0;
      margin-bottom: $padding-md;
    }

    @include media-nav {
      margin-top: 0;
      padding: 15px 0 64px;

      > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  .newsletter-section {
    margin-bottom: 15px;
    padding-bottom: 45px;
    border-bottom: 1px solid color('white-dark');

    @include media-nav {
      margin-bottom: 0;
      padding-bottom: 0;
      padding-right: 56px;
      border-bottom: none;
    }
  }

  .contact-section {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$padding-sm;
    justify-content: space-between;
    width: calc(100% + #{$padding-sm * 2});

    > * {
      margin-bottom: 48px;
      padding: 0 $padding-sm;
    }

    @include media-nav {
      > div {
        margin-bottom: 0;
        padding-right: 53px;
      }
    }

    p {
      @include p2;
      margin: 0;
    }

    a {
      text-decoration: underline;
    }
  }

  .address {
    @include p2;
    margin: 0;
  }

  .social-links,
  .footer-nav ul {
    @extend %semantic-list;

    li {
      @include p2;
    }
  }
}

.outer-frame {
  height: 95px;
  padding: 30px 0 0;
  background-color: color('white-dark');

  a:hover,
  a:focus {
    color: color('red');
  }

  @include media-nav {
    padding-right: $padding-lg;
  }
}
