// Header

// Skip to content link
.skip-to-content:focus {
  top: 21px;
  left: 170px;
  width: auto;
  height: auto;
  clip: auto !important;
  z-index: z(header) + 1;

  @include media-nav {
    top: 41px;
  }
}

.site-header {
  top: 0;
  left: 0;
  z-index: z(header);
  width: 100%;
  position: fixed;
  height: $header-sm;
  background-color: color('white');
  @include media-nav {
    height: $header-md;
  }
}

$logo-sm-w: 32px;
$logo-lg-w: 49px;

.logo-wordmark {
  top: 14px;
  left: 47px;
  position: fixed;
  z-index: z(header);
  @include transition(opacity);
  a {
    padding: 10px;
    display: block;
  }

  svg {
    width: 88px;
    height: 22px;
    display: block;
    fill: color('black');
  }

  @include media-nav {
    top: 74px;
    left: 51px;
    pointer-events: none;
    transform: rotate(90deg);
    mix-blend-mode: difference;
    transform-origin: bottom left;

    svg {
      width: 80px;
      height: 19px;
      fill: color('white');
    }
  }
}

.site-logo {
  top: 16px;
  margin: 0;
  left: 13px;
  line-height: 0;
  position: absolute;

  a {
    display: inline-block;
  }

  svg {
    opacity: 1;
    fill: color('black');
    @include transition(opacity)
  }

  .logo-svg {
    display: flex;
    align-items: center;
  }

  .logo-f {
    width: $logo-sm-w;
    height: $logo-sm-w;
  }

  @include media-nav {
    top: 25px;
    left: $padding-lg - ($logo-lg-w / 2);

    .logo-svg {
      display: block;
    }

    svg {
      display: block;
    }

    .logo-f {
      width: $logo-lg-w;
      height: $logo-lg-w;
    }
  }
}
