// Header

.site-header {
  top: 0;
  left: 0;
  z-index: z(header);
  width: 100%;
  position: fixed;
  height: $header-sm;
  background-color: color('white');
  transition: padding .4s $cubic-ease1, top .3s ease-out, background .2s ease-out;
  @include media-nav {
    height: $header-md;
  }
}

$logo-sm-w: 32px;
$logo-lg-w: 49px;

.logo-wordmark {
  top: 24px;
  left: 57px;
  position: fixed;
  z-index: z(header);

  svg {
    width: 88px;
    height: 22px;
    display: block;
    fill: color('black');
  }

  @include media-nav {
    top: 104px;
    left: 61px;
    pointer-events: none;
    transform: rotate(90deg);
    mix-blend-mode: difference;
    transform-origin: bottom left;

    svg {
      width: 80px;
      height: 19px;
      fill: color('white');
    }
  }
}

#logo {
  top: 16px;
  margin: 0;
  left: 13px;
  line-height: 0;
  position: absolute;

  a {
    display: inline-block;
  }

  svg {
    opacity: 1;
    fill: color('black');
    transition: opacity .3s ease-out;
  }

  .logo-svg {
    display: flex;
    align-items: center;
  }

  #logo-f {
    width: $logo-sm-w;
    height: $logo-sm-w;
  }

  #logo-wordmark {
    width: 88px;
    height: 22px;
    margin: 4px 0 0 12px;
  }

  @include media-nav {
    top: 32px;
    left: $padding-lg - ($logo-lg-w / 2);

    .logo-svg {
      display: block;
    }

    svg {
      display: block;
    }

    #logo-f {
      width: $logo-lg-w;
      height: $logo-lg-w;
    }

    #logo-wordmark {
      width: 80px;
      height: 19px;
      margin: 23px 0 0 13px;
      transform: rotate(90deg);
      transform-origin: bottom left;
    }
  }
}