// Site Nav

// nav-open adjustments
body.nav-open {
  #logo {
    z-index: z(nav) + 10;
    #logo-wordmark {
      opacity: 0;
    }
  }
  canvas {
    opacity: 0;
  }
}

.site-nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: z(nav);
  position: absolute;
  background-color: color(offwhite);
  border-top: 5px solid color('white');
  border-left: 5px solid color('white');
  border-right: 5px solid color('white');
  border-bottom: 64px solid color('white');
  padding: #{$header-sm + $padding-sm} $padding-sm $padding-md;

  ul {
    @extend %semantic-list;
    li {
      @include paragraph-style(32, 40, 0.01em, normal);
      position: relative;
      a:hover,
      a:focus {
        color: color('red');
      }
      &.-current a {
        border-bottom: 1px solid color('black');
      }
    }
  }

  @include media-nav {
    left: auto;
    width: auto;
    height: auto;
    border: none;
    display: block;
    transform: none;
    padding-top: 40px;
    right: $padding-lg;
    background-color: transparent;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -75px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: color('black');
    }

    ul {
      display: flex;

      li {
        @include paragraph-style(24, 32, 0.015em, normal);
      }

      li.-current {
        a {
          border: none;
        }
        &::after {
          content: '';
          position: absolute;
          bottom: -9px;
          left: 0;
          right: 0;
          border-bottom: 1px solid color('black');
        }
      }

      li + li {
        margin-left: 60px;
      }
    }
  }
}

.nav-toggle {
  cursor: pointer;
  top: 19px;
  right: 17px;
  position: absolute;
  @extend .button-reset;

  &.open {
    @include p2;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -28px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: color('black');
      transform: translateY(-3px);
    }
  }

  &.close {
    top: 5px;
    right: 0;
    svg {
      width: 40px;
      height: 40px;
    }
  }

  @include media-nav {
    display: none;
  }
}