// Newsletter Form

form.newsletter {
  @include media-md {
    max-width: 498px;
  }
  // Hide arrow
  button::after {
    display: none;
  }

  .form-row {
    justify-content: flex-end;
    align-items: flex-end;

    .input-wrap {
      flex-basis: 100%;
    }

    @include media-md {
      .input-wrap {
        flex-grow: 1;
        flex-basis: auto;
      }
    }
  }

  input[type="submit"] {
    margin-top: 32px;
    margin-left: 36px;

    @include media-md {
      margin-top: 0;
    }
  }
}
