// Page headers

.staggered-image-header {
  padding-bottom: 128px;

  @include media-md {
    .main-image {
      margin-top: -176px;
    }
    .secondary-image {
      margin-top: 144px;
    }
  }
}

.text-header {
  padding: $padding-md 0;

  .title {
    h1,
    h2 {
      @include h1-sans;
      margin: 0;
    }
    h4.subhead {
      @include small-titles;
      display: block;
      position: relative;
      white-space: nowrap;
    }

    @include media-md {
      h1,
      h2 {
        display: inline;
      }
      h4.subhead {
        top: 26px;
        left: 10px;
        vertical-align: top;
        line-height: inherit;
        display: inline;
      }
    }
  }

  // Optional CTA that follows the header statement
  .header-cta {
    margin-top: beat(2);
  }

  @include media-md {
    padding-bottom: 176px;
  }
}

// Full viewport image/video headers (projects, thoughts)
header.image-header {
  overflow: hidden;

  .header-title {
    position: relative;
    color: color('white');

    h1 {
      @include h1-serif;
      margin: 0;
    }
    h4 {
      @include p1;
      margin: $padding-sm 0 0;
    }
  }

  .header-wrap {
    display: flex;
    padding-top: 56px;
    position: relative;
    max-height: 1200px;
    padding-bottom: 56px;
    align-items: flex-end;
    height: calc(100vh - 96px);

    .header-banner {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: auto;
      height: auto;
      max-height: none;
      position: absolute;
      background-size: cover;
      background-color: rgba(0, 0, 0, 0.2);
      background-position: center center;

      // Video banners
      &.video {
        background-size: cover;
        iframe {
          left: 50%;
          width: 100vw;
          height: 56.25vw;
          min-height: calc(100vh - 96px);
          min-width: 177.77vh;
          max-height: 100%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
