// Pagination

.pagination {
  @include h1-sans;
  padding-top: beat(4);
  padding-bottom: beat(4);

  a {
    display: block;
    position: relative;
  }
  .-inner {
    // Custom longer-dashed border
    background: linear-gradient(to right, currentColor 0%, currentColor 50%, transparent 50%, transparent 100%) repeat-x left top;
    background-size: 16px 1px;
    padding-top: beat(3);
  }
  .icon-big-arrow {
    display: block;
    position: absolute;
    width: 81px;
    height: 45px;
    bottom: 0;
    right: 0;
  }

  @include media-md {
    padding-bottom: beat(12);

    .icon-big-arrow {
      width: 162px;
      height: 90px;
    }

    .container {
      padding-top: beat(15);
      padding-bottom: beat(2);
    }
  }
}
