// Pagination

// Project image rotator on hover
@for $i from 2 through 5 {
  @keyframes imgRotator#{$i} {
    0%, #{100 / $i}% {
      opacity: 1;
    }
    #{100 / $i + 1}%, 100% {
      opacity: 0;
    }
  }
}

// Shared pagination styles
.pagination {
  position: relative;
  padding-top: beat(1);
  padding-bottom: beat(1);

  //  Begin Common Styles
  a {
    display: block;
    padding: beat(3) 0;
    &[rel="prev"] {
      text-align: right;
    }
    .link {
      position: relative;
      display: block;
    }
    .title {
      @include p1;
      display: block;
      text-decoration: underline;
    }

    @include media-md {
      .title {
        text-decoration: none;
      }

      &:hover {
        color: color('red');
        .title {
          text-decoration: underline;
        }
        .icon-big-arrow {
          fill: color('red');
        }
        .project-title {
          opacity: 1;
        }
      }
    }
  }

  .-inner {
    // Custom longer-dashed border
    background: linear-gradient(to right, currentColor 0%, currentColor 50%, transparent 50%, transparent 100%) repeat-x left top;
    background-size: 16px 1px;
  }

  .icon-big-arrow {
    right: 0;
    top: auto;
    bottom: 0;
    width: 81px;
    height: 45px;
    display: block;
    position: absolute;
    @include transition(fill);
  }

  @include media-md {
    padding-top: 0;
    padding-bottom: beat(7);

    .icon-big-arrow {
      width: 162px;
      height: 90px;
    }

    .container {
      position: relative;
      padding-top: beat(15);
    }
    a {
      .title {
        padding-top: beat(1);
      }
    }
  }

  @include media-nav {
    padding-bottom: beat(12);
  }
  // End Common Styles

  // Next page (only) for Ideas index
  &.-next-page {
    @include h1-sans;
  }

  // Next Project (single Work posts)
  &.-next-project {
    .grid {
      display: block;
      padding-right: 120px;
    }
    .label {
      @include small-titles;
      margin-bottom: 45px;
      br {
        display: none;
      }
    }
    .icon-big-arrow {
      top: -10px;
    }
    .project-title {
      @include p1;
      @include transition(opacity);
      position: relative;
      align-self: flex-end;
      text-decoration: underline;
      .subtitle {
        display: block;
      }
    }

    @include media-md {
      padding-bottom: beat(13);

      .grid {
        padding: 0;
        display: flex;
      }
      .label {
        @include h1-sans;
        margin-bottom: 0;
        br {
          display: block;
        }
      }
      .icon-big-arrow {
        top: auto;
        bottom: 0;
      }
      .project-title {
        @include smooth;
        @include paragraph-style(10, 24, 0.075em, bold, uppercase);
        opacity: 0;
        color: color('red');
        text-decoration: none;
        .colon {
          display: none;
        }
        .subtitle {
          @include p1;
          display: block;
          padding-top: beat(1);
          text-decoration: underline;
        }
      }
    }

    @include media-nav {
      .project-title {
        @include smooth;
        @include paragraph-style(12, 24, 0.075em, bold, uppercase);
      }
    }
  }

  // Rollover Images
  .rollover-images {
    @include transition(opacity);
    left: 0;
    opacity: 0;
    top: beat(12);
    bottom: beat(9);
    overflow: hidden;
    position: absolute;
    width: calc(50% - #{$padding-md / 2});
    img {
      top: 0;
      left: 0;
      width: auto;
      height: 100%;
      display: block;
      max-width: none;
      position: absolute;
    }

    @include media-md {
      // Rollover slideshow in Next Project links
      &.hover {
        opacity: 1;
        // Support 2-5 images in nextProjectImages field
        @for $j from 2 through 5 {
          &[data-num-images="#{$j}"] {
            img {
              animation: imgRotator#{$j} #{0.6 * $j}s linear infinite;
              @for $i from 0 through ($j - 1) {
                &:nth-child(#{$j - $i}) {
                  animation-delay: #{(-0.6 * $i)}s;
                }
              }
            }
          }
        }
      }
    }

    @include media-nav {
      width: 51%;
    }

    @include media-xl {
      width: 50%;
      bottom: auto;
      overflow: visible;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  // Mobile only styles
  &.-next-prev {
    .padded {
      display: block;
      position: relative;
    }
    a {
      position: relative;
    }
    .icon-big-arrow {
      top: -10px;
    }
    .link {
      @include small-titles;
      margin-bottom: 45px;
    }
    .title {
      // Make sure arrows line up ok with small titles
      min-height: 80px;
    }
    // Hide previous link on mobile
    a[rel="prev"] {
      display: none;
    }
    &.no-next {
      a[rel="prev"] {
        display: block;
      }
    }
    a[rel="prev"] {
      .padded {
        padding-left: 120px;
      }
      .icon-big-arrow {
        left: 0;
        transform: rotate(180deg);
      }
    }
    a[rel="next"] {
      .padded {
        padding-right: 120px;
      }
      .icon-big-arrow {
        right: 0;
      }
    }

    @include media-md {
      .padded {
        display: block;
      }
      a {
        height: 100%;
      }
      .link {
        margin: 0;
      }
      a[rel="prev"] {
        display: block;
        .padded {
          padding-left: 170px;
          padding-right: columns(1.5, 8);
        }
        .icon-big-arrow {
          left: 0;
          right: auto;
        }
      }
      a[rel="next"] {
        .padded {
          padding-right: 170px;
          padding-left: columns(1.5, 8);
        }
        .icon-big-arrow {
          top: auto;
        }
      }
    }
  }

  // prefers reduced motion
  @media (prefers-reduced-motion: reduce) {
    .rollover-images.hover {
      img {
        animation: none!important;
      }
    }
  }
}
