// Pagination

// Project image rotator on hover
@for $i from 2 through 5 {
  @keyframes imgRotator#{$i} {
    0%, #{100 / $i}% {
      opacity: 1;
    }
    #{100 / $i + 0.0000000001}%, 100% {
      opacity: 0;
    }
  }
}

.pagination {
  @include h1-sans;
  padding-top: beat(4);
  padding-bottom: beat(4);
  position: relative;

  // Next Project link styles
  .rollover-images {
    position: absolute;
    top: beat(12);
    left: 0;
    width: columns(10);
    opacity: 0;
    @include transition(opacity);
    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
  }

  @include media-md {
    .rollover-images.hover {
      opacity: 1;
      // Support 2-5 images in nextProjectImages field
      @for $j from 2 through 5 {
        &[data-num-images="#{$j}"] {
          img {
            animation: imgRotator#{$j} #{0.6 * $j}s linear infinite;
            @for $i from 0 through ($j - 1) {
              &:nth-child(#{$j - $i}) {
                animation-delay: #{(-0.6 * $i)}s;
              }
            }
          }
        }
      }
    }
  }

  a {
    display: block;
    @include transition(color);
    .link {
      position: relative;
      display: block;
    }
    .title {
      display: block;
      @include p2;
      text-decoration: underline;
    }

    // Next Project styles
    .project-title {
      @include small-titles;
      align-self: flex-end;
      opacity: 0;
      color: color('red');
      position: relative;
      @include transition(opacity);
      .subtitle {
        display: block;
        padding-top: beat(1);
        @include p1;
      }
    }

    @include media-md {
      &:hover {
        color: color('red');
        .icon-big-arrow {
          fill: color('red');
        }
        .project-title {
          opacity: 1;
        }
      }
    }
  }

  .-inner {
    // Custom longer-dashed border
    background: linear-gradient(to right, currentColor 0%, currentColor 50%, transparent 50%, transparent 100%) repeat-x left top;
    background-size: 16px 1px;
    padding-top: beat(3);
  }
  .icon-big-arrow {
    display: block;
    position: absolute;
    width: 81px;
    height: 45px;
    bottom: 0;
    right: 0;
    @include transition(fill);
  }

  @include media-md {
    padding-top: 0;
    padding-bottom: beat(12);

    .icon-big-arrow {
      width: 162px;
      height: 90px;
    }

    .container {
      position: relative;
      padding-top: beat(15);
      padding-bottom: beat(2);
    }
    a {
      .title {
        padding-top: beat(2);
      }
    }
    &.-next-prev {
      .padded {
        display: block;
      }
      a[rel="prev"] {
        .padded {
          padding-left: columns(3, 8);
          padding-right: columns(1, 8);
        }
        .icon-big-arrow {
          right: auto;
          left: 0;
          transform: rotate(180deg);
        }
      }
      a[rel="next"] {
        .padded {
          padding-left: columns(2, 8);
          padding-right: columns(2, 8);
        }
      }
    }
  }
}
