// Search Form and Results Styles

.search-form {
  padding-top: 20px;

  p {
    @include p1;
    max-width: 700px;
    padding-right: 80px;
  }

  fieldset {
    @include clearfix;
    .button {
      &::after,
      &::before {
        display: none;
      }
      text-align: center;
      width: 140px;
      float: right;
      padding: 0 40px;
    }
  }
  .input-wrap {
    height: 76px;
    border-bottom: 1px solid color('white');
    padding: 20px 20px 20px 0;
    margin-bottom: 20px;
  }

  input[type=search] {
    @extend .input-reset;
    width: 100%;
    @include paragraph-style(32, 40);
    // Hide search field (X)
    &::-webkit-search-cancel-button {
     -webkit-appearance: none;
    }
    background-color: transparent;
    border: none;
  }

  // Mid-breakpoint (100% search input, bump to larger type)
  @include media-sm {
    .input-wrap {
      height: 96px;
    }
    input[type=search] {
      @include h2-sans;
    }
  }

  // Desktop styles
  @include media-md {
    fieldset {
      display: flex;
      align-items: center;
      height: $header-sm;
      margin-top: 60px;
      .button {
        width: 100%;
        float: none;
      }
    }
    .input-wrap {
      flex: 3;
      border-bottom: 1px solid color('white');
      padding: 20px 20px 20px 0;
      margin-right: 40px;
    }
    .button-wrap {
      flex: 1;
    }
  }
  @include media-nav {
    fieldset {
      margin-top: 80px;
    }
    padding-top: 0;
  }
}

.search-results {
  overflow-x: hidden;
  padding: 30px 0 100px;
  color: color('white');
  .results {
    >h4 {
      margin-bottom: 40px;
    }
    margin-top: 20px;
    border-top: 1px solid color('white');
  }

  .thumbnail-grid {
    article.page {
      h4.heading-smallcaps {
        margin-top: 0;
      }
    }
  }

  @include media-md {
    padding: 60px 0 100px;
    .results {
      >h4 {
        margin-bottom: 60px;
      }
      margin-top: 60px;
    }
  }
}
