// Search Form and Results Styles

.search-form {
  display: flex;
  height: $header-sm;
  align-items: center;
  padding-right: 120px;

  input {
    @extend .input-reset;
    background-color: transparent;
    border-bottom: 1px solid color('white');
  }

  @include media-nav {
    height: $header-md;
  }
}

.search-results {
  overflow: auto;
  padding-top: 28px;
  color: color('white');
  height: calc(100% - #{$header-sm});

  @include media-nav {
    height: calc(100% - #{$header-md});
  }
}

// Search Modal Styles
// set with search-open body class
body.search-open {
  .modal-overlay {}

  .modal {
    padding: 0;
    overflow: hidden;
    &::before {
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      top: $header-sm;
      position: absolute;
    }

    .inner {
      position: relative;
    }

    .close-modal {
      right: 0;
      top: $header-sm / 2;
      transform: translate(-50%);

      svg {
        width: $header-sm / 2;
        height: $header-sm / 2;
      }
    }

    @include media-nav {
      width: auto;
      right: $padding-lg;
      &::before {
        top: $header-md;
      }

      .close-modal {
        top: $header-md / 2;

        svg {
          width: $header-md / 2;
          height: $header-md / 2;
        }
      }
    }
  }
}
