// UI Elements

// Button Styles
.button,
a.button {
  @include p1;
  @include button(color('black'), color('white'));
  height: 64px;
  text-align: left;
  line-height: 64px;
  position: relative;
  border-radius: 48px;
  display: inline-block;
  padding: 0 90px 0 18px;

  &:not(.-small) {
    &::before,
    &::after {
      @include transition(opacity);
      top: 50%;
      right: 18px;
      content: '';
      width: 54px;
      height: 23px;
      position: absolute;
      transform: translateY(-50%);
    }
    &::before {
      opacity: 1;
      background-image: url('../images/arrow-white.svg');
    }
    &::after {
      opacity: 0;
      background-image: url('../images/arrow-black.svg');
    }

    &:hover,
    &:focus {
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: 1;
      }
    }
  }

  @include media-nav {
    &:not(.-small) {
      height: 96px;
      line-height: 96px;
      padding: 0 128px 0 36px;

      &::before,
      &::after {
        right: 36px;
      }
    }
  }

  // Small Variation
  &.-small {
    @include p2;
    width: auto;
    padding: 0 30px;
  }

  &.-full {
    width: 100%;
    @include media-sm {
      width: auto;
    }
  }

  // Color Variations
  &.-red {
    @include button(color('red'), color('black'));
    &::before {
      background-image: url('../images/arrow-black.svg');
    }
    &::after {
      background-image: url('../images/arrow-red.svg');
    }
  }
  &.-white {
    @include button(color('white'), color('black'));
    &::before {
      background-image: url('../images/arrow-black.svg');
    }
    &::after {
      background-image: url('../images/arrow-white.svg');
    }
  }

  // Hollow Variation
  &.hollow {
    @include buttonHollow(color('black'), color('white'));
    &::before {
      background-image: url('../images/arrow-black.svg');
    }
    &::after {
      background-image: url('../images/arrow-white.svg');
    }

    &.-red {
      @include buttonHollow(color('red'), color('black'));
      &::before {
        background-image: url('../images/arrow-red.svg');
      }
      &::after {
        background-image: url('../images/arrow-black.svg');
      }
    }
    &.-white {
      @include buttonHollow(color('white'), color('black'));
      &::before {
        background-image: url('../images/arrow-white.svg');
      }
      &::after {
        background-image: url('../images/arrow-black.svg');
      }
    }
  }
}

// Show arrow cursor in mid-page-transition state between hiding "+"
// and new page showing via swup (felt like page was frozen)
html.is-animating {
  #cursor {
    opacity: 0!important;
  }
  &,
  a:hover {
    cursor: default!important;
  }
  .site-header {
    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background: color('black');
      animation: 15s ease-in-out 0s 1 fauxProgressIndicator;
    }
  }
}
@keyframes fauxProgressIndicator {
  0% {
    transform: translateX(-100%);
  }
  10% {
    transform: translateX(-100%);
  }
  15% {
    transform: translateX(-70%);
  }
  25% {
    transform: translateX(-50%);
  }
  30% {
    transform: translateX(-35%);
  }
  60% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}
body.-cursor-active {
  &,
  a:hover {
    cursor: none;
  }
  #cursor {
    opacity: 1;
    @include transition(opacity, 0.5s);
  }
  // Click states
  &.-mousedown {
    #cursor.hand {
      background: url('/assets/dist/images/hand-cursor-active.svg');
      width: 140px;
      height: 104px;
    }
  }
}
#cursor {
  top: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  margin-top: -56px;
  z-index: z(cursor);
  margin-left: -56px;
  pointer-events: none;

  // Default view cursor
  width: 112px;
  height: 112px;
  mix-blend-mode: exclusion;
  background: url('/assets/dist/images/view-cursor.svg');
  fill: #FAFAFA;

  &.hand {
    background: url('/assets/dist/images/hand-cursor.svg');
    width: 140px;
    height: 104px;
  }

  &.previous,
  &.next {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    mix-blend-mode: difference;
    background-image: url('/assets/dist/images/left-arrow-v2.svg');
    background-size: 100px 100px;
  }
  &.next {
    background-image: url('/assets/dist/images/right-arrow-v2.svg');
  }
}
