// UI Elements

// Button Styles
.button,
a.button {
  @include p2;
  @include button(color('black'), color('white'));
  height: 64px;
  text-align: left;
  line-height: 64px;
  position: relative;
  border-radius: 48px;
  display: inline-block;
  padding: 0 90px 0 18px;

  &::after {
    top: 50%;
    right: 18px;
    content: '';
    width: 54px;
    height: 23px;
    position: absolute;
    transform: translateY(-50%);
    background-image: url('../images/arrow-white.svg');
  }

  &:hover::after {
    background-image: url('../images/arrow-black.svg');
  }

  @include media-lg {
    &:not(.-small) {
      @include p1;
      height: 96px;
      line-height: 96px;
      padding: 0 128px 0 36px;

      &::after {
        right: 36px;
      }
    }
  }

  // Small Variation
  &.-small {
    @include p2;
    width: auto;
    padding: 0 30px;
  }

  // Hollow Variation
  &.hollow {
    @include buttonHollow(color('black'), color('white'));
    &::after {
      background-image: url('../images/arrow-black.svg');
    }
    &:hover::after {
      background-image: url('../images/arrow-white.svg');
    }

    &.-red {
      @include buttonHollow(color('red'), color('black'));
      &::after {
        background-image: url('../images/arrow-red.svg');
      }
      &:hover::after {
        background-image: url('../images/arrow-black.svg');
      }
    }
    &.-white {
      @include buttonHollow(color('white'), color('black'));

      &::after {
        background-image: url('../images/arrow-white.svg');
      }
      &:hover::after {
        background-image: url('../images/arrow-black.svg');
      }
    }
  }

  // Color Variations
  &.-red {
    @include button(color('red'), color('black'));
    &::after {
      background-image: url('../images/arrow-black.svg');
    }
    &:hover::after {
      background-image: url('../images/arrow-red.svg');
    }
  }
  &.-white {
    @include button(color('white'), color('black'));
    &::after {
      background-image: url('../images/arrow-black.svg');
    }
    &:hover::after {
      background-image: url('../images/arrow-white.svg');
    }
  }
}

body.-cursor-active {
  cursor: none;
  #cursor {
    display: block;
  }
}
#cursor {
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  position: fixed;
  margin-top: -50px;
  margin-left: -50px;
  pointer-events: none;

  // Default view cursor
  width: 112px;
  height: 151px;
  mix-blend-mode: exclusion;
  background: url('../images/view-cursor.png');

  &.previous {
    width: 100px;
    height: 100px;
    mix-blend-mode: difference;
    background-image: url('/assets/dist/images/left-arrow-v2.svg');
    background-size: 100px 100px;
  }
  &.next {
    width: 100px;
    height: 100px;
    mix-blend-mode: difference;
    background-image: url('/assets/dist/images/right-arrow-v2.svg');
    background-size: 100px 100px;
  }
}
