// User Content
.user-content {

  * + * {
    margin-top: beat(1);
    @include media-md {
      margin-top: beat(2);
    }
  }
  ol,
  ul,
  p {
    @include p2;

    @include media-md {
      @include p1;
    }
  }

  p + p,
  p + h3 {
    margin-top: beat(1.5);
  }

  h3 {
    @include small-titles;
  }

  a:not(.button) {
    text-decoration: underline;
    @include inline-link;
  }

  a.button {
    margin: 24px 0 beat(3);

    @include media-md {
      margin: 72px 0 beat(3);
    }
  }

  blockquote {
    @extend %blockquote;
  }

  ol {
    padding: 0 0 0 1.5em;
    li {
      line-height: 1.375em;
      list-style: disc;
      + li {
        margin-top: 0.5em;
      }
    }
  }

  // Smaller bullets than "disc" on lists
  ul {
    // Make • flush left on mobile
    padding: 0 0 0 1em;

    // Make • hanging left on desktop
    @include media-md {
      padding: 0;
    }
    li {
      list-style-type: none;
      position: relative;
      &:before {
        content: '•';
        color: color(black);
        display: block;
        position: absolute;
        left: -1em;
      }
      + li {
        margin-top: 0.5em;
      }
    }
  }

  ol li {
    list-style: decimal;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  strong em,
  em strong {
    font-style: italic;
    font-weight: bold;
  }

}
