// User Content
.user-content {

  * + * {
    margin-top: beat(0.5);
    @include media-md {
      margin-top: beat(1);
    }
  }

  a {
    text-decoration: underline;
  }

  blockquote {
    @extend %blockquote;
  }

  ul, ol {
    margin: $padding-md auto 0;
    li {
      line-height: 1.375em;
      list-style: disc;
      margin-bottom: .5em;
    }
  }
  ol li {
    list-style: decimal;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  strong em,
  em strong {
    font-style: italic;
    font-weight: bold;
  }
}