{% set thumbnailImage = entry.thumbnailImage[0] ?? null %}
{% set thumbnailImageHover = entry.thumbnailImage|length > 1 ? entry.thumbnailImage[1] : thumbnailImage %}
{% set orientation = orientationOverride ?? entry.thumbnailOrientation %}

<article class="ideas {{ orientation == 'fullWidth' ? 'col-nav-full' : 'col-nav-1-2' }} -reveal">
  {% include 'partials/_rollover-image' with { thumbnailImage: thumbnailImage } %}

  <div class="idea-meta">
    {% if entry.ideaType|length %}
      <h4 class="category">{{ entry.ideaType[0].title }}</h4>
    {% endif %}
    <h3><a href="{{ entry.getUrl() }}"><span>{{ entry.title }}</span></a></h3>
  </div>
</article>
