{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? '_ajax-layout' : '_layout' %}

{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% if entry.headerImage|length %}
  {% set headerImage = entry.headerImage.one() %}
{% endif %}

{% block content %}

  <article class="ideas clearfix">

    {% include 'partials/_image-header' with { image: headerImage } %}

    <div class="ideas-single">
      <div class="container">
        <h4 class="lined">{{ entry.postDate.format('M d, Y') }}{% if entry.manualAuthor %} &ndash; by {{ entry.manualAuthor }}{% endif %}</h4>

        <div class="ideas-body user-content">
          {{ entry.body }}
        </div>
      </div>

      {% include 'blocks/_page-blocks' %}
    </div>

  </article>

  {% include "partials/_pagination" with {'paginationSection': 'ideas', 'postName': 'Post'} %}

{% endblock %}
