{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? '_ajax-layout' : '_layout' %}

{% if entry is not defined %}
  {% set entry = craft.entries.section('ideasIndex').one() %}
{% endif %}

{% set title = 'Ideas' %}
{% set bodyClass = 'with-blobs' %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% if entry.seoImage|length %}{% set seoImage = entry.seoImage.one() %}{% endif %}

{% if category is defined %}
  {% paginate craft.entries({
    section: 'ideas',
    relatedTo: category,
    with: [
      'thumbnailImage',
      'ideaType'
    ]
  }).limit(11) as paginationInfo, ideasEntries %}
{% else %}
  {% paginate craft.entries({
    section: 'ideas',
    with: [
      'thumbnailImage',
      'ideaType'
    ]
  }).limit(11) as paginationInfo, ideasEntries %}
{% endif %}

{% block content %}
  {% cache unless currentUser %}

  {% include 'partials/_text-header' %}

  <div class="container" id="posts">
    <div class="block-section-header">
      <h3>Ideas</h3>
    </div>
    <div class="thumbnail-grid grid spaced">
      {% for entry in ideasEntries %}
        {% include "ideas/_article" %}
      {% endfor %}
    </div>
  </div>

  {# Todo: next + previous page links #}
  {% if paginationInfo.nextUrl %}
    <nav class="pagination -next-page">
      <div class="container">
        <div class="-inner">
          <a rel="next" href="{{ paginationInfo.nextUrl }}#posts">
            <span class="link">
              Next<br>Page <svg class="icon icon-big-arrow" aria-hidden="true"><use xlink:href="#icon-big-arrow"/></svg>
            </span>
          </a>
        </div>
      </div>
    </nav>
  {% endif %}

  {% endcache %}
{% endblock %}
