{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = "Ideas" %}

{% if entry is defined %}
  {% set title = entry.title %}
  {% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
  {% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
  {% set bodyClass = 'single page ideas with-blobs' %}
  {% set bodyDataAttributes = 'data-blob-color=#09F53D' %}
{% endif %}

{% if tag is defined %}
  {% set tag = craft.tags.slug(tag).one() %}
  {% paginate craft.entries({
    section: 'ideas',
    relatedTo: tag,
    with: [
      'headerImage'
    ]
  }) as paginationInfo, thoughtEntries %}
{% else %}
  {% paginate craft.entries({
    section: 'ideas',
    with: [
      'headerImage'
    ]
  }).limit(5) as paginationInfo, thoughtEntries %}
{% endif %}

{% block content %}

  {% if entry is defined %}
    {% include 'partials/_page-header' %}
  {% endif %}

	<section class="ideas-list page-content" data-page="/ideas" data-page-title="{{ title }}">
    {% if tag is defined %}
      <div class="filter-header active"><div class="filter-header-wrap">Filter:<p><span class="filter">{{ tag.title }}</span> <a href="/ideas" class="tcon tcon-no-animate tcon-menu--xcross xcross-open xcross-small" aria-label="remove tag filter"><span class="tcon-menu__lines" aria-hidden="true"></span><span class="tcon-visuallyhidden">remove tag filter</span></a></p></div></div>
    {% endif %}

		{% for entry in thoughtEntries %}
			{% include "ideas/_article" %}
		{% endfor %}

    <nav class="footer-pagination">
      <ul>
        {% if paginationInfo.prevUrl %}
        <li class="prev">
          <a rel="prev" href="{{ paginationInfo.prevUrl }}"><span class="arrow">&larr;</span> Previous Page</a>
        </li>
        {% else %}
          <li class="prev disabled"></li>
        {% endif %}
        {% if paginationInfo.nextUrl %}
        <li class="next">
          <a rel="next" href="{{ paginationInfo.nextUrl }}">Next Page <span class="arrow">&rarr;</span></a>
        </li>
        {% else %}
          <li class="next disabled"></li>
        {% endif %}
      </ul>
    </nav>

	</section>
{% endblock %}

{% block aside %}
  {% cache globally using key "ideas-nav" %}
    {% include "partials/_ideas_nav" %}
  {% endcache %}
{% endblock aside %}
