{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = "Ideas" %}

{% if entry is defined %}
  {% set title = entry.title %}
  {% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
  {% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
  {% set bodyClass = 'single page ideas with-blobs' %}
  {% set bodyDataAttributes = 'data-blob-color=#09F53D' %}
{% endif %}

{% if tag is defined %}
  {% set tag = craft.tags.slug(tag).one() %}
  {% paginate craft.entries({
    section: 'ideas',
    relatedTo: tag,
    with: [
      'headerImage',
      'thumbnailImage'
    ]
  }).limit(11) as paginationInfo, ideasEntries %}
{% else %}
  {% paginate craft.entries({
    section: 'ideas',
    with: [
      'headerImage',
      'thumbnailImage'
    ]
  }).limit(11) as paginationInfo, ideasEntries %}
{% endif %}

{% block content %}

  {% if entry is defined %}
    {% include 'partials/_text-header' %}
  {% endif %}

  <div class="container">

    <div class="thumbnail-grid grid spaced">
      {% for entry in ideasEntries %}
        {% include "ideas/_article" %}
      {% endfor %}
    </div>

    <nav class="footer-pagination">
      <ul>
        {% if paginationInfo.nextUrl %}
        <li class="next">
          <a rel="next" href="{{ paginationInfo.nextUrl }}">Next Page </a>
        </li>
        {% else %}
          <li class="next disabled"></li>
        {% endif %}
      </ul>
    </nav>

  </div>
{% endblock %}
