{% macro errorList(errors) %}
  {% if errors %}
    <ul class="errors">
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% from _self import errorList %}

<div class="contact-form">
  <div class="container">
    <div class="grid">
      <div class="contact user-content">
        <p>773 489 3200 <br>
        &mdash;<br>
        <a href="mailto:info@firebellydesign.com">info@firebellydesign.com</a>
        </p>
      </div>

      <form class="-light" method="post" action="/contact">
        <fieldset>
          <div class="grid spaced">
            <div class="col-md-1-2">
              <div class="input-wrap">
                <label for="from-name">Name</label>
                <input id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}" placeholder="Name">
                {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
              </div>
            </div>
            <div class="col-md-1-2">
              <div class="input-wrap">
                <label for="organization">Organization</label>
                <input id="organization" type="text" name="message[From Organization]" value="{{ message.message.fromOrganization ?? '' }}" placeholder="Organization">
                {{ message is defined and message ? errorList(message.getErrors('message.message.fromOrganization')) }}
              </div>
            </div>
          </div>
          <div class="grid spaced">
            <div class="col-md-1-2">
              <div class="input-wrap">
                <label for="from-email">Email</label>
                <input required id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}" placeholder="Email">
                {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
              </div>
            </div>
            <div class="col-md-1-2">
              {# <div class="input-wrap">
                <label for="found-us-how">How'd you hear about Firebelly?</label>
                <div class="select-wrap">
                  <svg class="icon icon-select-arrow" aria-hidden="true"><use xlink:href="#icon-select-arrow"/></svg>
                  <select id="found-us-how" name="message[Found Us How]">
                    <option value="">How'd you hear about Firebelly?</option>
                    {% for option in entry.contactFormOptions.howFoundUs %}
                      <option value="{{ option.option }}"{{ message.foundUsHow is defined and message.foundUsHow==option.option ? ' selected' : '' }}>{{ option.option }}</option>
                    {% endfor %}
                  </select>
                </div>
                {{ message is defined and message ? errorList(message.getErrors('foundUsHow')) }}
              </div>#}
            </div>
          </div>

          <div class="input-wrap">
            <label for="message">What can we help you with?</label>
            <textarea required rows="10" cols="40" id="message[Query]" name="message[Query]" placeholder="What can we help you with?">{{ message.message.query ?? '' }}</textarea>
          </div>
        </fieldset>

        <div class="status">{{ entry.contactFormOptions.successMessage ?? craft.app.getModule('contact-form').getSettings().successFlashMessage }}</div>

        <div class="actions">
          {{ csrfInput() }}
          <input name="botsLoveTheHoney" type="text">
          <input type="hidden" name="action" value="contact-form/send">
          <input type="hidden" name="toEmail" value="{{ entry.contactFormOptions.toEmail ? entry.contactFormOptions.toEmail|hash : craft.app.getModule('contact-form').getSettings().toEmail|hash }}">
          <input type="hidden" name="subject" value="Firebelly Contact Submission from {fromName}" data-original-value="Firebelly Contact Submission from {fromName}">
          <input type="hidden" name="message[formName]" value="Firebelly Contact">

          <button class="button -white -small hollow">Submit</button>
        </div>
      </form>

    </div>
  </div>
</div><!-- /.contact-form -->
