{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? '_ajax-layout' : '_layout' %}

{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% set bodyClass = 'single page contact with-blobs' %}
{% set bodyDataAttributes = 'data-blob-color="#FF3D00"' %}

{% block content %}

  {% include 'partials/_text-header' %}

  {% include 'partials/_intro' %}

{% endblock %}