// About

#about-page {
  .the-team {
    @include media-md {
      padding: beat(4) 0;
    }
  }

  .people-list {
    .modal-content {
      display: none;
    }

    // Less spacing for people than a work thumbnail-grid
    article {
      margin-bottom: 0;
    }

    @include media-md {
      .person {
        padding-bottom: beat(4);
      }
    }
  }
}