// Careers page

body.page-careers {
  .position {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 0 $padding-sm;
    h2 {
      @include h1-sans;
    }
    p {
      @include p2;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: $padding-sm;
      right: $padding-sm;
      border-bottom: 1px solid color('black');
    }
    .intro {
      position: relative;
      padding: beat(2) 140px 0 0;
    }
    a[href="#"] {
      display: block;
      position: absolute;
      width: 60px;
      height: 60px;
      top: 25px;
      right: 10px;
      padding: 10px;
      &:hover svg {
        fill: color('red');
      }
    }
    svg {
      fill: color('black');
      width: 40px;
      height: 40px;
    }

    a.collapse {
      top: 9px;
      display: none;
    }

    a.collapse,
    a.expand {
      background: none;
    }
    .description {
      display: none;
      padding: beat(4) 0 beat(2);
    }

    &.active {
      .description {
        display: block;
      }
      a.expand {
        display: none;
      }
      a.collapse {
        display: block;
      }
    }
  }

  // Desktop styles
  @include media-md {
    .position {
      margin-left: -#{$padding-md / 2};
      width: calc(100% + #{$padding-md});
      a.collapse {
        top: -7px;
      }
      > .-inner {
        padding: beat(8) #{$padding-lg * 1} 0 #{$padding-lg * 2};
      }
      &::after {
        left: $padding-sm * 2;
        right: $padding-sm * 2;
      }
    }
  }
}
