// Careers page

body.page-careers {
  .position {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    // Faux link hover states of h2, intro, svg before expanding
    h2,
    .intro {
      @include transition(color);
    }
    svg {
      @include transition(fill);
    }
    &:not(.active):hover {
      color: color('red');
      cursor: pointer;
      .intro {
        text-decoration: underline;
      }
      svg {
        fill: color('red');
      }
    }
    h2 {
      @include h1-sans;
    }
    ol,
    ul,
    p {
      @include p2;
    }

    // Dividers
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: $padding-sm / 2;
      right: $padding-sm / 2;
      border-bottom: 1px solid color('black');
    }

    // +/- buttons
    a.expand,
    a.collapse {
      display: block;
      position: absolute;
      width: 60px;
      height: 60px;
      top: 10px;
      right: 0;
      padding: 10px;
      &:hover svg {
        fill: color('red');
      }
    }
    svg {
      fill: color('black');
      width: 40px;
      height: 40px;
    }

    // Initial state before expanded
    a.collapse {
      display: none;
    }

    // Hide description to start
    .description {
      display: none;
      opacity: 0;
      padding: beat(2) 0;
      @include transition(opacity);
    }

    // Accordion expanded
    &.active {
      .description {
        opacity: 1;
      }
      a.expand {
        display: none;
      }
      a.collapse {
        display: block;
      }
    }
  }

  // Mobile only styles
  @include max-screen($breakpoint-md) {
    // Give section headers some padding
    .block-wrap {
      h2 {
        padding-right: 50px;
      }
      .block-section-header {
        padding: beat(3) #{$padding-sm / 2} beat(2);
      }
    }
  }

  // Desktop styles
  @include media-md {
    .position {
      .intro {
        padding: 0 60px 0 0;
      }
      &::after {
        left: #{ $padding-sm / 2 };
        right: #{ $padding-sm / 2 };
      }
    }
  }
  @include media-nav {
    .position {
      a.expand,
      a.collapse {
        top: 92px;
        right: 24px;
      }
      .intro {
        padding: beat(2) 140px 0 0;
      }
      &::after {
        left: $padding-sm;
        right: $padding-sm;
      }
    }
  }
}
