// Contact page
#contact-page {
  // Dark header
  .site-main {
    background: color('black');
    color: color('white');
    .block-section-header h3 {
      border-color: color('white');
    }
  }

  // Light footer
  .site-footer {
    background: color('white-dark');
    color: color('black');

    .-bottom {
      border-color: color('black');
    }
  }
  .outer-frame {
    background-color: color('white');
  }

  // Form and contact details
  .contact-form {
    p {
      @include p2;
    }
    input,
    select {
      margin-bottom: beat(2);
    }
  }

  // Desktop styles
  @include media-md {
    .contact-form {
      padding-top: beat(3);
      padding-bottom: beat(8);
    }
    .contact {
      padding-top: 42px;
      flex: 0 1 columns(6);
    }
    form {
      flex: 0 1 columns(14);
    }
  }
}
