// Contact page

body.page-contact {

  // Hide contact CTA in footer
  .contact-cta {
    display: none;
  }

  // Dark header
  .site-main {
    color: color('white');
    padding-bottom: $padding-lg;
    background: color('black');
    .block-section-header h3 {
      border-color: color('white');
    }
  }

  // Light footer
  .site-footer {
    padding-top: 0;
    color: color('black');
    background: color('white-dark');

    .-bottom {
      border-color: color('black');
    }

    @include media-nav {
      padding-top: $padding-lg;
    }
  }
  .outer-frame {
    background-color: color('white');
  }

  // Form and contact details
  .contact-form {
    p {
      @include p2;
    }
    input,
    select {
      margin-bottom: beat(2);
    }
  }

  // Desktop styles
  @include media-md {
    .contact-form {
      padding-top: beat(3);
      padding-bottom: beat(8);
    }
    .contact {
      padding-top: 42px;
      flex: 0 1 columns(6);
    }
    form {
      flex: 0 1 columns(14);
    }
  }
}
