// Contact page

body.page-contact {

  // Hide contact CTA in footer
  .contact-cta {
    display: none;
  }

  // Dark header
  .site-main {
    color: color('white');
    background: color('black');
    .block-section-header h3 {
      border-color: color('white');
    }
    .user-content {
      a {
        @include inline-link('red');
      }
    }
  }

  // Light footer
  .site-footer {
    color: color('black');
    background: color('offwhite');

    .-bottom,
    .newsletter-section {
      border-color: color('black');
    }
    .contact-section {
      a {
        @include inline-link;
      }
    }

    @include media-nav {
      padding-top: $padding-lg;
    }
  }
  .outer-frame {
    background-color: color('white');
  }

  // Form and contact details
  .contact {
    padding-bottom: beat(4);
  }

  .contact-form {
    padding-top: beat(4);
    padding-bottom: beat(4);

    p {
      @include p2;
    }
    input,
    select {
      margin-bottom: beat(2);
    }
  }

  // Desktop styles
  @include media-md {
    .contact-form {
      padding-top: beat(3);
      padding-bottom: beat(8);
    }
    .contact {
      padding-top: 20px;
      flex: 0 1 columns(6);
    }
    form {
      flex: 0 1 columns(14);
    }
  }
}
