// Homepage

body.page-homepage {

  // Recent Work
  .recent-work {
    padding-bottom: 255px;

    @include media-nav {
      .project:first-of-type {
        margin-top: 144px;
      }
      .project:last-of-type {
        margin-top: -176px;
      }
    }
  }

  // What We Do section
  .what-we-do {
    padding-bottom: $padding-lg;
    .stat-table {
      padding: 0;
    }

    @include media-nav {
      .stat-table {
        padding: 0;
      }
      padding-bottom: 122px;
    }

    .services {
      margin-top: $padding-lg;
    }

    .section-cta {
      width: 100%;
      margin-top: $padding-md;
      @include media-nav {
        margin-top: $padding-lg;
      }
    }
  }

  // Featured Work
  .featured-work {
    .thumbnail-grid {
      @include media-nav {
        @include clearfix;
        margin-left: -#{$padding-md / 2};
        width: calc(100% + #{$padding-md});
      }
    }
  }
}
