// Homepage

body.page-homepage {

  // Recent Work
  .recent-work {
    padding-bottom: beat(2);

    @include media-nav {
      padding-bottom: beat(16);

      .project {
        margin-bottom: 0;
      }

      .project:first-of-type {
        margin-top: 144px;
      }
      .project:last-of-type {
        margin-top: -176px;
      }
    }
  }

  // What We Do section
  .what-we-do {
    padding-bottom: $padding-lg;
    .stat-table {
      padding: 0;
    }

    @include media-nav {
      .stat-table {
        padding: 0;
      }
      padding-bottom: 122px;
    }

    .services {
      margin-top: $padding-lg;
    }

    .section-cta {
      width: 100%;
      margin-top: $padding-md;
      @include media-nav {
        margin-top: $padding-lg;
      }
    }
  }

  // Featured Work
  .featured-work {
    .thumbnail-grid {
      @include media-nav {
        display: grid;
        align-items: start;
        padding-bottom: 190px;
        grid-gap: 0 $padding-md;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        margin-left: -#{$padding-md / 2};
        width: calc(100% + #{$padding-md});

        article {
          width: 100%;
          max-width: none;
          margin-bottom: 0;
          &:nth-child(2n+3) {
            grid-column-start: 2;
          }
          &:nth-child(5n) {
            grid-row-start: 4;
          }

          .idea-meta,
          .project-content {
            position: absolute;
          }
        }
      }
    }

    .pagination {
      @include media-nav {
        padding-bottom: $beat;
      }
    }
  }
}
