// Ideas pages

body.page-ideas {

  // Reduce padding on pagination
  .pagination {
    .container {
      padding-top: beat(6);
    }
  }
  .block-section-header {
    padding-bottom: beat(1);
  }

  @include media-md {
    .block-section-header {
      padding-bottom: beat(4);
    }
  }

}

// Single ideas post
.ideas-single {
  padding: beat(8) 0;

  // Inline images in deprecated body field
  .ideas-body {
    figure {
      margin: 0;
      padding: beat(1) 0;

      @include media-md {
        padding: beat(6) 0;
      }
    }
  }
}
