// Interior Pages

// when clicking on Contact, focus that area
body.focus-contact {
  #page {
    opacity: .1;
  }
}
#page {
  transition: opacity .5s;
}

// General Page components
body.page.single {
  .child-pages {
    .page {
      padding: beat(6) 25px;

      &:nth-of-type(odd) {
        background: rgba(255,255,255,.6);
      }

      @include media-md {
        padding: beat(12) 25px;
      }

      @include max-screen(1000px) {
        .one-half {
          width: 100%;
          float: none;
        }

        .intro {
          padding-left: 0;
        }
      }

      .secondary {
        .secondary-item {
          h3 {
            margin-top: 33px;
            &:first-of-type {
              margin-top: 0;
            }
          }
          li {
            list-style: none;
          }
        }
      }
    }

    aside {
      color: color('black');

      h1, h2, h3 {
        color: color('black');
        text-transform: none;
        letter-spacing: 0;
      }

      strong {
        color: color('black');
      }

      @include media-md {
        .-left {
          padding-right: 25px;
        }
      }
    }
  }
}

body.page.single {
  .interior {
    &:not(.no-padding) {
      padding: beat(6) 25px;
      @include media-md {
        padding: beat(12) 25px beat(12) 25px;
      }
    }

    .section-title {
      padding: 0;
      text-align: left;
      position: relative;
      @include min-screen(1000px) {
        .section-number {
          right: 100%;
          text-align: center;
          position: absolute;
          width: beat(12);
          padding: 0 beat(2);
        }
      }
    }

    .intro {
      margin-bottom: beat(3);
      @include media-md {
        padding-right: beat(12);
        padding-left: (beat(12) - 25);
      }

      .-inner {
        max-width: 400px;
      }
      p {
        line-height: 1.375em;
        letter-spacing: .025em;
        margin-top: $padding-md;
        &:first-of-type {
          margin-top: 0;
        }
      }
    }

    .secondary {
      .secondary-item {
        margin-top: beat(3);
        h1, h2, h3 {
          color: color('black');
          margin: 0 0 .6em;
          @extend %smooth;
          position: relative;
          padding-bottom: .5em;
          &:after {
            left: 0;
            bottom: 0;
            content: '';
            height: 1px;
            width: .25em;
            position: absolute;
            background: color('black');
          }
        }
        p {
          margin: 0;
        }

        ul {
          li {
            color: color('black');
          }
        }

        table {
          text-align: left;
          td {
            color: color('black');
            vertical-align: top;
            padding: 0 $padding-md 0 0;
          }
        }

        @include media-md {
          &.-first {
            margin-top: 0;
          }
        }

        @include media-lg {
          &:first-of-type {
            margin-top: 0;
          }
        }
      }

      @include media-md {
        padding-top: 19px;
      }

      @include media-lg {
        .one-half {
          width: 100%;
          float: none;
        }
      }
    }
  }
}