// Projects

.project-blocks {
  @include clearfix;
}

// Single project
body.project {
  .portfolio {
    padding-top: 46px;
    @include media-sm {
      padding-top: 132px;
    }
  }

  // Project Intro
  .intro {
    .project-summary {
    }
    h3 {
      @include small-titles;
    }
    .visit-website {
      padding-top: beat(2);
    }

    // Desktop styles
    @include media-md {
      padding: beat(7) 0;
    }

    .project-meta {
      a {
        text-decoration: underline;
      }
      h3 {
        margin: 0 0 16px;
      }
      p {
        @include p2;
        margin: 0 0 24px;
      }
      ul {
        @extend %semantic-list;
        margin: 0 0 24px;

        li {
          display: inline;
        }
      }

      .services {
        margin-top: $padding-md;
      }

      // Desktop styles
      @include media-md {
        > .-inner {
          padding: 0 0 0 columns(4, 8);
        }
        text-align: left;

        .services {
          margin-top: 0;
        }
      }
    }
  }


  .section-title {
    text-align: center;
    padding: beat(6) 0 0;
    h1 {
      font-size: 36px;
      margin-bottom: beat(1);
    }
    h4 {
      color: color('black');
    }

    @include media-sm {
      h1 {
        font-size: 48px;
        max-width: 600px;
      }
    }
  }

  .block-quote {
    &.-rightAligned {
      text-align: right;
    }
    blockquote {
      @extend %blockquote;
    }
  }

  // A hacky fix for the unwanted borders created around fit-vid'ed video blocks due to iframes and subpixel rounding
  // Tried hard, but couldn't find a better way.  May god have mercy on my soul.
  .block-html {
    @include clearfix;
    overflow: hidden;
    clear: left;
    width: 100%;
    .video-container,
    // Fluid video wrapper added by vimeo
    .fluid-width-video-wrapper {
      margin: -1px;
    }

    // Removing margins on figure, which videos are placed in now
    figure {
      margin: 0;
    }
  }

  // Two-column, alt header style
  .intro.two-column {
    background: color('black');
    color: color('white');
    @extend %smooth;
    .intro-wrap {
      @include clearfix;
      max-width: 1200px;
      margin: 0 auto;
    }

    // Override 1-column mobile styles
    .services {
      margin-top: 0;
    }

    .summary,
    .project-meta {
      max-width: none;
      ul li,
      h3 {
        color: color('white');
        font: 16px/1 $font-sans, sans-serif;
        letter-spacing: 0;
        text-transform: none;
        margin: 0 0 4px;
        text-align: left;
      }
      h3 {
        float: none;
        width: auto;
        font-weight: bold;
      }
      ul {
        margin: 0 0 beat(2) 0;
        li {
          display: block;
          color: rgba(255,255,255,0.65);
        }
      }
    }
    .summary {
      > p {
        margin: 0 0 2em;
      }
    }

    .summary.user-content a,
    .project-meta a {
      transition: none;
      color: rgba(255,255,255,0.65);
      @include linkHover(color('white'), screen);
    }

    // Small screen styles
    @include media-md {
      .summary {
        position: relative;
        padding-bottom: beat(3);
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: $padding-sm;
          right: $padding-sm;
          border-bottom: 1px solid color('white');
        }
      }
    }

    // Desktop styles
    @include media-md {
      padding-top: beat(9);
      .summary {
        position: relative;
        width: 50%;
        float: left;
        padding: 0 beat(6);
        &::after {
          content: '';
          position: absolute;
          left: auto;
          right: 0;
          top: 20px;
          bottom: 40px;
          border-right: 1px solid color('white');
        }
      }
      .project-meta {
        width: 50%;
        float: left;
        // Arbitrary "move project-meta over a column" spacing
        padding: 0 beat(6) 0 16%;
        margin: 0;
        .extra-info,
        .one-half {
          float: none;
          width: auto;
        }
      }
    }
  }
}
