// Projects

.project-blocks {
  @include clearfix;
}

// Filter block
.top-section-header {
  .filter-links {
    padding: beat(1) 0 60px;
  }
  @include media-nav {
    .filter-links {
      padding: beat(1) 0 beat(4);
    }
  }
}

// Single project
.single-project {
  // For color change blocks that change bg + text colors
  transition: all 0.5s;
}
body.page-project {
  .portfolio {
    padding-top: 46px;
    @include media-sm {
      padding-top: 132px;
    }
  }

  // Project Intro
  .intro {
    .project-summary {
      margin: $padding-sm 0 $padding-lg;
    }
    h4 {
      @include small-titles;
    }
    .visit-website {
      padding-top: beat(2);
    }

    // Desktop styles
    @include media-md {
      margin: 0;
      padding: beat(7) 0;
    }

    .project-meta {
      margin-bottom: $padding-md;

      a {
        text-decoration: underline;
        @include inline-link;
      }
      h4 {
        margin: 0;
      }
      p {
        @include p2;
        margin: 0 0 beat(1.5);
      }
      ul {
        @extend %semantic-list;
        margin: 0 0 beat(1.5);

        &.services {
          li {
            display: inline;
          }
        }
      }

      // Desktop styles
      @include media-md {
        margin-bottom: 0;

        > .-inner {
          padding: 0 0 0 columns(4, 8);
        }
        text-align: left;

        h4 {
          margin-bottom: $beat;
        }

        .services {
          margin-top: 0;
        }
      }
    }
  }


  .section-title {
    text-align: center;
    padding: beat(6) 0 0;
    h1 {
      font-size: 36px;
      margin-bottom: beat(1);
    }
    h4 {
      color: color('black');
    }

    @include media-sm {
      h1 {
        font-size: 48px;
        max-width: 600px;
      }
    }
  }

  // These will go away, shown as (deprecated) in admin
  .block-html {
    @include clearfix;
    overflow: hidden;
    clear: left;
    width: 100%;
    .video-container,
    // Fluid video wrapper added by vimeo
    .fluid-width-video-wrapper {
      margin: -1px;
    }

    // Removing margins on figure, which videos are placed in now
    figure {
      margin: 0;
    }
  }

}
