// Services

#services-page {
}

.services-list {
  li {
    &,
    svg {
      @include transition(all);
    }
    .label {
      padding-right: 150px;
      position: relative;
    }
    svg {
      width: 53px;
      height: 22px;
      position: absolute;
      right: 0;
      bottom: 40px;
    }
    &:hover {
      color: color('red');
      svg {
        fill: color('red');
      }
    }
  }
}

.our-clients {
  padding: beat(1) 0;
  @include media-md {
    padding: beat(8) 0;
  }
}

.industries,
.client-logos {
  ul {
    @extend %semantic-list;
    padding: beat(1) 0;
    li {
      display: inline-block;
    }

    @include media-md {
      padding: beat(4) 0;
    }
  }
}

.industries {
  li {
    display: block;
    padding: beat(1) 0;
  }
  @include media-md {
    padding: beat(14) 0;
    ul {
      padding: beat(8) 0 0;
      display: flex;
      flex-wrap: wrap;
      li {
        flex: 0 1 33%;
      }
    }
  }
}