// Services

.services-list {
  li {
    svg {
      @include transition(fill);
    }
    .label {
      padding-right: 150px;
      position: relative;
      p {
        @include transition(color);
      }
    }
    svg {
      width: 53px;
      height: 22px;
      position: absolute;
      right: 0;
      bottom: 40px;
    }
    &:hover {
      color: color('red');
      .label {
        text-decoration: underline;
      }
      svg {
        fill: color('red');
      }
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
}

.our-clients {
  padding: beat(1) 0;
  @include media-md {
    padding: beat(8) 0 beat(16);
  }
}

.industries,
.client-logos {
  ul {
    @extend %semantic-list;
    padding: beat(1) 0;
    li {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      border-bottom: 1px solid rgba(35, 35, 35, 0.5);
      padding: beat(1) 0;
      &:last-of-type {
        border-bottom: none;
      }
      span {
        // Smaller logos for mobile
        img {
          display: block;
          max-width: 110px;
          height: auto;
        }
      }
    }

    @include media-sm {
      li {
        // Stretch out logos from here on
        flex-wrap: nowrap;
        span {
          display: block;
          flex: 1 1 auto;
          img {
            width: 100%;
            max-width: 175px;
          }
        }
      }
    }

    @include media-md {
      padding: beat(4) 0;
    }
  }
}

.industries {
  margin-top: beat(7);
  padding-bottom: beat(3);

  ul {
    li {
      border: none;
      display: block;
      padding: beat(1) 0;
    }
  }

  @include media-md {
    margin-top: 0;
    padding-bottom: beat(20);

    ul {
      padding: beat(8) 0 0;
      display: flex;
      flex-wrap: wrap;
      li {
        flex: 0 1 33%;
      }
    }
  }
}
