// Work page

body.page-work {
  // Ajax Error Message
  h2.error {
    margin-bottom: $padding-lg;
  }

  // Filters
  .filters {
    margin: $padding-md 0 $padding-lg;

    .filter-nav {
      position: relative;
      z-index: z(blobs) + 1;
      &:hover,
      &:focus {
        ul {
          display: block;
        }
      }

      + .filter-nav {
        margin-top: $padding-md;
      }

      button {
        @extend .button-reset;
        @include h3;
        width: 100%;
        cursor: pointer;
        text-align: left;
        position: relative;
        padding-top: $beat;
        white-space: nowrap;
        color: color('black');
        padding-bottom: $beat;
        padding-right: $padding-lg;
        border-bottom: 1px solid color('black');
        &:hover,
        &:focus {
          background-color: color('gray-light');
        }

        .arrow {
          top: 50%;
          right: 4px;
          width: 12px;
          height: 12px;
          display: block;
          position: absolute;
          border-right: 3px solid color('black');
          border-bottom: 3px solid color('black');
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }

      ul {
        @extend .semantic-list;
        left: 0;
        top: 100%;
        z-index: 2;
        display: none;
        min-width: 100%;
        position: absolute;
        background-color: color('offwhite');
      }

      li {
        &.-active {
          a {
            background-color: color('gray-light');
          }
        }

        a {
          padding: 6px;
          display: block;
          white-space: nowrap;
          &:hover,
          &:focus {
            background-color: color('gray-light');
          }
        }
      }

      @include media-sm {
        + .filter-nav {
          margin-top: 0;
          margin-left: $padding-md;
        }

        button {
          width: auto;
        }
      }
    }

    @include media-sm {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .modal-overlay {
    background-color: rgba(color('white'),.9);
  }
  .modal {
    top: $header-sm;
    color: color('black');
    background: color('offwhite');
    height: calc(100% - #{$header-sm});
    border-left: 5px solid color('white');
    border-right: 5px solid color('white');
    .col-services,
    .col-industries {
      flex: 0 1 100%;
    }

    .industries-nav,
    .services-nav {
      @extend %semantic-list;

      li.-active {
        a {
          color: color('red');

          svg {
            fill: color('red');
          }
        }
      }

      a {
        white-space: nowrap;
        display: inline-block;
        position: relative;
        padding-right: 12px;
      }
    }
    .industries-nav {
      a {
        @include h3;
        &:hover {
          color: color('red');
          text-decoration: underline;
        }
      }
    }
    .services-nav {
       a {
        @include paragraph-style(32, 40, 0.01em);

        sup {
          display: inline-block;
          font: bold 12px/1 $font-sans, sans-serif;
          vertical-align: top;
          margin: 1.5em 0 0 -0.25em;
        }

        svg {
          display: none;
        }

        @include media-md {
          @include paragraph-style(64, 64, 0.01em);
          svg {
            opacity: 0;
            width: 88px;
            height: 50px;
            white-space: nowrap;
            display: inline-block;
            vertical-align: middle;
          }
          sup {
            margin: 1.5em 0 0 -1em;
          }

          &:hover {
            svg {
              @include transition(opacity);
              animation: puls0r 0.4s linear infinite;
              opacity: 1;
            }
          }
        }
        @include media-nav {
        }
        @include min-screen(1500px) {
          @include paragraph-style(96, 105.6, 0.01em);
          svg {
            width: 175px;
            height: 100px;
          }
          sup {
            margin-left: -2em;
          }
        }
      }
    }


    .close-modal {
      top: 17px;
      right: 13px;

      svg {
        fill: color('black');
      }
    }

    @include media-md {
      .grid {
        flex-wrap: nowrap;
      }
      .col-services {
        flex: 0 1 60%;
        max-width: 60%
      }
      .col-industries {
        flex: 0 1 40%;
        max-width: 40%;
      }
    }

    @include media-nav {
      width: auto;
      border: none;
      top: $header-md;
      padding-top: 28px;
      right: $padding-lg;
      height: calc(100% - #{$header-md});

      .close-modal {
        right: beat(3);
        top: beat(3);
      }
    }
  }
}

// Pulsing ">" on hovering link in services nav modal
@keyframes puls0r {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 50px;
  }
}
