// Work page

body.page-work {
  .modal-overlay {
    background: color('white');
  }
  .modal {
    color: color('black');

    .services-nav {
      @extend %semantic-list;
      a {
        display: inline-block;
        position: relative;
        @include h1-sans;
        padding-right: 12px;

        sup {
          display: inline-block;
          font: bold 12px/1 $font-sans, sans-serif;
          vertical-align: top;
          margin: 1.5em 0 0 0.25em;
        }

        svg {
          width: 175px;
          height: 100px;
          white-space: nowrap;
          vertical-align: middle;
          opacity: 0;
        }

        &:hover {
          svg {
            @include transition(opacity);
            animation: puls0r 0.4s linear infinite;
            opacity: 1;
          }
        }
      }
    }

    .close-modal {
      svg {
        fill: color('black');
      }
    }
  }
}


// Project image rotator on hover
@keyframes puls0r {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 50px;
  }
}
