{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? '_ajax-layout' : '_layout' %}

{% set title = '404' %}
{% set bodyClass = 'page-404' %}

{% block content %}
  <header class="text-header">
    <div class="container">
      <div class="title">
        <h1>404—We’re sorry, we can't seem to find that page.</h1>
        <h4 class="subhead">It must be around here somewhere.</h4>
      </div>
    </div>
  </header>

	<div class="squiggle">
		<a class="star" href="/ideas/the-lines-of-progress"></a>
		<div class="block-wrap intro">
		  <div class="-inner">
		    <div class="block-text fullWidthPaddedLeft">
		      <div class="-inner">
		      	<div class="user-content">
		      		<p>Can we interest you in any of our services? Perhaps <a rel="noopener" target="_blank" href="https://www.youtube.com/watch?v=-Spq1N3QljM&feature=youtu.be">a little dance</a>?</p>
		      	</div>

		        <a href="/services" class="button -black">See Our Services</a>
		      </div>
		    </div>
		  </div>
		</div>
	</div>

{% endblock %}
