<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

{% include '/partials/_head' %}
{% if entry is defined and craft.app.request.getSegment(1) %}
  {% set pageClass = (bodyClass is defined and bodyClass matches '/page\-/') ? '' : 'page-' ~ craft.app.request.getSegment(1) %}
{% else %}
  {% set pageClass = '' %}
{% endif %}

<body class="{% if bodyClass is defined %}{{ bodyClass }} {% endif %}{{ pageClass }}">
  <div id="breakpoint-indicator" class="hidden"></div>

  <header class="site-header clearfix" role="banner">
    <div class="container">
      {% if entry is defined and entry.isEditable() %}
        <div class="edit-link"><a href="{{ entry.cpEditUrl ~ '?redirect=' ~ craft.app.request.getUrl()|url_encode }}">Edit Entry</a></div>
      {% endif %}

      <{{ craft.app.request.getUrl() == '/' ? 'h1' : 'div' }} id="logo">
        <a href="/"><span class="visually-hidden">Firebelly</span>{% include '/partials/_logo' %}</a>
      </{{ craft.app.request.getUrl() == '/' ? 'h1' : 'div' }}>

      {% include "/partials/_sitenav" %}

      <button id="nav-open" type="button" class="nav-toggle open">Menu</button>
    </div>
  </header>

  {% include "/partials/_wordmark" %}

  {% include 'partials/_flash' %}

  <main class="site-main" role="main">

    <div id="page" class="transition-fade">
      {% block content %}{% endblock %}

      {% if entry is defined and entry.section.type != 'channel' and entry.section.type != 'structure' %}
        <div class="to-top">
          <p class="container"><a href="#" class="scroll-to-top">Back to Top</a></p>
        </div>
      {% endif %}
    </div>

  </main>

  {% include "/partials/_footer" %}

  <div id="cursor"></div>
</body>
</html>
