{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% set bodyClass = 'homepage with-blobs' %}
{% set bodyId = 'homepage' %}
{% set bodyDataAttributes = 'data-blob-color=#FF3D00' %}

{% block content %}

  {% include 'partials/_page-header' %}

  {% set recentWork = entry.recentWork.all() %}

  {% if recentWork|length %}
    <div id="recent-work" class="recent-work section">
      <div class="container">
        <h5 class="section-label">Recent</h5>
        <div class="project-grid grid spaced">
          {% for project in recentWork %}
            <div class="project col-md-1-2">
              <a class="-inner js-cursor" href="{{ project.url }}" data-cursor-class="view">
                {% if loop.last %}
                  {% set transformedImage = craft.imager.transformImage(project.altImage.one(), { width: 1116, height: 1504, mode: 'crop', position: project.altImage.one().getFocalPoint() }) %}
                {% else %}
                  {% set transformedImage = craft.imager.transformImage(project.altImage.one(), { width: 1116, height: 640, mode: 'crop', position: project.altImage.one().getFocalPoint() }) %}
                {% endif %}
                <div class="project-image"><img src="{{ transformedImage.getUrl() }}" alt=""></div>
                <ul class="services">
                  {% for service in project.services.all() %}
                    <li>{{ service.title }}{{ not loop.last ? ", " }}</li>
                  {% endfor %}
                </ul>
                <h3 class="project-title">{{ project.title }}: {{ project.subtitle }}</h3>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if entry.featuredServices|length %}
    <div id="what-we-do" class="what-we-do section">
      <div class="container">
        <h5 class="section-label">What we do</h5>

        <div class="services stat-table">
          <ul>
          {% for service in entry.featuredServices.all() %}
            <li class="grid">
              <h4 class="stat-figure col-md-1-2">{{ service.serviceName }}</h4>
              <p class="stat-label col-md-1-2">{{ service.serviceDescription }}</p>
            </li>
          {% endfor %}
          </ul>
        </div>

        <div class="section-cta">
          <div class="grid align-right">
            <div class="col-md-1-2 align-left">
              <a href="/services" class="button -black">All Services</a>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  {% set featuredWork = entry.featuredWork.all() %}

  {% if featuredWork|length %}
    <div id="featured-work" class="featured-work section">
      <div class="container">
        <div class="project-grid">
          {% for workBlock in featuredWork %}
            {% set featuredEntry = workBlock.featuredEntry.one() %}
            {% if featuredEntry %}
              <div class="project">
                <a class="-inner js-cursor" href="{{ featuredEntry.getUrl() }}">
                  {% if featuredEntry.altImage|length %}
                    {% set entryImage = featuredEntry.altImage.one() %}
                  {% else %}
                    {% set entryImage = featuredEntry.headerImage.one() %}
                  {% endif %}

                  {% if workBlock.thumbnailOrientation == 'portrait' %}
                    {% set transformedImage = craft.imager.transformImage(entryImage, { width: 1116, height: 1504, mode: 'crop', position: entryImage.getFocalPoint() }) %}
                  {% else %}
                    {% set transformedImage = craft.imager.transformImage(entryImage, { width: 1116, height: 640, mode: 'crop', position: entryImage.getFocalPoint() }) %}
                  {% endif %}
                  <div class="project-image"><img src="{{ transformedImage.getUrl() }}" alt=""></div>
                  {% if featuredEntry.services|length %}
                    <ul class="services">
                      {% for service in featuredEntry.services.all() %}
                        <li>{{ service.title }}{{ not loop.last ? ", " }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                  <h3 class="project-title">{{ featuredEntry.title }}{% if (featuredEntry.subtitle) %}: {{ featuredEntry.subtitle }}{% endif %}</h3>
                </a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

{% endblock content %}