{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? '_ajax-layout' : '_layout' %}

{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% set bodyClass = 'homepage with-blobs' %}
{% set bodyId = 'homepage' %}
{% set bodyDataAttributes = 'data-blob-color=#FF3D00' %}

{% block content %}

  {% include 'partials/_text-header' with { headerTag: 'h2' } %}

  {% set recentWork = entry.recentWork.all() %}

  {% if recentWork|length %}
    <div class="recent-work section">
      <div class="container">
        <h4 class="lined">Recent</h4>
        <div class="thumbnail-grid grid spaced">
          {% for project in recentWork %}
            <div class="project col-md-1-2">
              <a class="-inner js-cursor" href="{{ project.url }}" data-cursor-class="view">
                {% if loop.last %}
                  {% set transformedImage = craft.imager.transformImage(project.altImage.one(), { width: 1116, height: 1504, mode: 'crop' }) %}
                {% else %}
                  {% set transformedImage = craft.imager.transformImage(project.altImage.one(), { width: 1116, height: 640, mode: 'crop' }) %}
                {% endif %}
                <div class="project-image"><img src="{{ transformedImage.getUrl() }}" alt=""></div>
                <ul class="services">
                  {% for service in project.services.with('service').all() %}
                    <li>
                      <a href="{{ service.service[0].getUrl() }}">{{ service.service[0].title }}</a>{{ not loop.last ? ',' }}
                    </li>
                  {% endfor %}
                </ul>
                <h3 class="project-title">{{ project.title }}: {{ project.subtitle }}</h3>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if entry.featuredServices|length %}
    <div class="what-we-do section">
      <div class="block-wrap">
        <div class="-inner">
          <div class="block-section-header">
            <h3>What We Do</h3>
          </div>

          <div class="block-stat-table">
            <ul>
            {% for service in entry.featuredServices.all() %}
              <li class="grid">
                <h4 class="figure col-md-1-2">{{ service.serviceName }}</h4>
                <div class="label col-md-1-2"><p>{{ service.serviceDescription }}</p></div>
              </li>
            {% endfor %}
            </ul>
          </div>

          <div class="section-cta">
            <div class="grid align-right">
              <div class="col-md-1-2 align-left">
                <a href="/services" class="button -black">All Services</a>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.block-wrap -->
    </div><!-- /.what-we-do -->
  {% endif %}

  {% set featuredWork = entry.featuredWork.all() %}

  {% if featuredWork|length %}
    <div class="featured-work section">
      <div class="container">
        <div class="thumbnail-grid grid spaced">
          {% for workBlock in featuredWork %}
            {% set featuredEntry = workBlock.featuredEntry.one() %}
            {% if featuredEntry %}
              <article class="project col-md-1-2 orientation-{{ workBlock.thumbnailOrientation }}">
                <a class="-inner js-cursor" href="{{ featuredEntry.getUrl() }}">
                  {% if featuredEntry.altImage|length %}
                    {% set entryImage = featuredEntry.altImage.one() %}
                  {% else %}
                    {% set entryImage = featuredEntry.headerImage.one() %}
                  {% endif %}

                  {% if workBlock.thumbnailOrientation == 'portrait' %}
                    {% set transformedImage = craft.imager.transformImage(entryImage, { width: 1116, height: 1504, mode: 'crop' }) %}
                  {% else %}
                    {% set transformedImage = craft.imager.transformImage(entryImage, { width: 1116, height: 640, mode: 'crop' %}
                  {% endif %}
                  <div class="project-image"><img src="{{ transformedImage.getUrl() }}" alt="{{ entryImage.title }}"></div>
                  {% if featuredEntry.services|length %}
                    <ul class="services">
                      {% for service in featuredEntry.services.with('service').all() %}
                        <li>
                          <a href="{{ service.service[0].getUrl() }}">{{ service.service[0].title }}</a>{{ not loop.last ? ',' }}
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                  <h3 class="project-title">{{ featuredEntry.title }}{% if (featuredEntry.subtitle) %}: {{ featuredEntry.subtitle }}{% endif %}</h3>
                </a>
              </article>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

{% endblock content %}
