{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? '_ajax-layout' : '_layout' %}

{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% set bodyClass = 'homepage with-blobs' %}
{% set bodyId = 'homepage' %}
{% set bodyDataAttributes = 'data-blob-color="#FF3D00"' %}

{% block content %}

  {% include 'partials/_text-header' with { headerTag: 'h2' } %}

  {% set recentWork = entry.recentWork.all() %}

  {% if recentWork|length %}
    <div class="recent-work section">
      <div class="container">
        <h4 class="lined">Recent</h4>
        <div class="thumbnail-grid grid spaced">
          {% for project in recentWork %}
            {% include 'work/_article' with { entry: project, orientationOverride: (loop.last ? 'portrait' : 'landscape') } %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if entry.featuredServices|length %}
    <div class="what-we-do section">
      <div class="block-wrap">
        <div class="-inner">
          <div class="block-section-header">
            <h3>What We Do</h3>
          </div>

          <div class="block-stat-table">
            <ul>
            {% for service in entry.featuredServices.all() %}
              <li class="grid">
                <h4 class="figure col-md-1-2">{{ service.serviceName }}</h4>
                <div class="label col-md-1-2"><p>{{ service.serviceDescription }}</p></div>
              </li>
            {% endfor %}
            </ul>
          </div>

          <div class="section-cta">
            <div class="grid align-right">
              <div class="col-md-1-2 align-left">
                <a href="/services" class="button -black">All Services</a>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.block-wrap -->
    </div><!-- /.what-we-do -->
  {% endif %}

  {% set featuredWork = entry.featuredWork.with([
      'headerImage',
      'thumbnailImage',
      'altImage',
    ]).all() %}

  {% if featuredWork|length %}
    <div class="featured-work section">
      <div class="container">
        <div class="thumbnail-grid grid spaced">
          {% for featuredEntry in featuredWork %}
            {% if featuredEntry.type == 'project' %}
              {% include 'work/_article' with { entry: featuredEntry } %}
            {% elseif featuredEntry.type == 'ideasPost' %}
              {% include 'work/_article' with { entry: featuredEntry } %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

{% endblock content %}
