{% set thumbnailImage = entry.altImage[0] ?? null %}
{% set thumbnailImageHover = entry.altImage|length > 1 ? entry.altImage[1] : thumbnailImage %}
{% set orientation = orientationOverride ?? entry.thumbnailOrientation %}
{% if classOverride is defined %}
  {% set articleClass = classOverride %}
{% else %}
  {% set articleClass = orientation == 'fullWidth' ? 'col-nav-full' : 'col-nav-1-2' %}
{% endif %}

<article class="project {{ articleClass }} -reveal">
  {% include 'partials/_rollover-image' with { thumbnailImage: thumbnailImage } %}

  <div class="project-content">
    {% if entry.services|length %}
      <h5 class="visually-hidden">Services: </h5>
      <ul class="services">
        {% if servicesLength is defined %}
          {% for service in entry.services|slice(0, servicesLength) %}
            {% set service = service.service[0] %}
            <li>{{ service.title }}{{ not loop.last ? ', ' }}</li>
          {% endfor %}
        {% else %}
          {% for service in entry.services %}
            {% set service = service.service[0] %}
            <li>{{ service.title }}{{ not loop.last ? ', ' }}</li>
          {% endfor %}
        {% endif %}
      </ul>
    {% endif %}
    <h3 class="project-title"><a href="{{ entry.getUrl() }}">{{ entry.title }}: {{ entry.subtitle }}</a></h3>
  </div>
</article>
