{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? '_ajax-layout' : '_layout' %}

{% set title = entry.title %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}

{% set bodyClass = 'single project' %}
{% if entry.mainImage|length %}
  {% set mainImage = entry.mainImage.one() %}
{% endif %}

{% block content %}
  {% cache unless currentUser %}
  <div class="single-project" data-id="{{ entry.id }}">

    {% if entry.mainImage|length %}
      {% include 'partials/_image-header' with { image: mainImage } %}
    {% else %}
      {% include 'partials/_image-header' %}
    {% endif %}

    <div class="intro">
      <div class="container grid">
        <div class="project-summary user-content col-md-1-2">
          {{ entry.body }}
          {% if entry.projectUrl %}
            <a target="_blank" rel="noopener" href="{{ entry.projectUrl }}">Visit Website</a>
          {% endif %}
        </div>

        <div class="project-meta col-md-1-2">
          <div class="-inner">

            {% set client = entry.client.one() %}
            {% if client and client.clientName %}
              <h3>Client</h3>
              <p>{% if client.clientUrl %}<a target="_blank" rel="noopener" href="{{ client.clientUrl }}">{% endif %}{{ client.clientName }}{% if client.clientUrl %}</a>{% endif %}</p>
            {% endif %}

            <h3>Industry</h3>
            {% if entry.industry|length %}
              <p>{{ entry.industry.one().title }}</p>
            {% endif %}

            <h3>Services</h3>
            {% if entry.services|length %}
              <ul>
                <li>
                  {% for service in entry.services.all() %}
                    <a href="/work?service={{ service.service.one().slug }}">{{ service.service.one().title }}</a>
                    {{ not loop.last ? ' / ' }}
                  {% endfor %}
                </li>
              </ul>
            {% endif %}

            {% if entry.extraDetails|length %}
              {% for details in entry.extraDetails.all() %}
                <h3>{{ details.header }}</h3>
                <ul>
                {% for item in details.items %}
                  <li>
                    {%- if item['url'] %}<a rel="noopener" target="_blank" href="{{ item['url'] }}">{% endif -%}
                    {{ item['title'] }}
                    {%- if item['url'] %}</a>{% endif -%}
                  </li>
                {% endfor %}
                </ul>
              {% endfor %}
            {% endif %}

          </div><!-- /.inner -->
        </div><!-- /.project-meta -->
      </div><!-- /.container -->
    </div>

    <div class="project-blocks">
      {% include 'work/_project-blocks' %}
    </div>
  </div>

  {% include "partials/_pagination_structure" with {'paginationSection': 'work', 'postName': 'Project'} %}
  {% endcache %}
{% endblock %}
