{% set blockColor = 'gray' %}
{% set blockClass = blockColor %}
{% set textClass = '' %}
{% set customStyles = '' %}
{% set blockWrapped = false %}

{# Check if first block is a color change #}
{% if entry.projectBlocks|length and entry.projectBlocks[0].type == 'blockColorChange' %}
  {% if entry.projectBlocks[0].color == 'custom' %}
    {% set blockColor = entry.projectBlocks[0].customBackgroundColor %}
    {% set blockClass = 'custom' %}
    {% set customBackgroundColor = entry.projectBlocks[0].customBackgroundColor %}
    {% if entry.projectBlocks[0].textColor == 'custom' %}
      {% set customTextColor = 'color:' ~ entry.projectBlocks[0].customTextColor ~ ';' %}
      {% set textClass = '' %}
    {% else %}
      {% set customTextColor = '' %}
      {% set textClass = ' text-' ~ entry.projectBlocks[0].textColor %}
    {% endif %}
    {% set customStyles = ' style=background-color:' ~ customBackgroundColor ~ ';' ~ customTextColor %}
  {% else %}
    {% set blockColor = entry.projectBlocks[0].color %}
    {% set blockClass = blockColor %}
    {% set customStyles = '' %}
    {% set textClass = '' %}
  {% endif %}
{% endif %}

<div class="block-color color-{{ blockClass }}{{ textClass }}"{{ customStyles }}>

{% for block in entry.projectBlocks.all() %}
  {% switch block.type %}

    {% case "blockColorChange" %}
      {% if blockColor != block.color and blockColor != block.customBackgroundColor and loop.index != 1 %}
        {% if block.color == 'custom' %}
          {% set blockColor = block.customBackgroundColor %}
          {% set blockClass = 'custom' %}
          {% set customBackgroundColor = block.customBackgroundColor %}
          {% if block.textColor == 'custom' %}
            {% set customTextColor = 'color:' ~ block.customTextColor ~ ';' %}
            {% set textClass = '' %}
          {% else %}
            {% set customTextColor = '' %}
            {% set textClass = ' text-' ~ block.textColor %}
          {% endif %}
          {% set customStyles = ' style=background-color:' ~ customBackgroundColor ~ ';' ~ customTextColor %}
        {% else %}
          {% set blockColor = block.color %}
          {% set blockClass = blockColor %}
          {% set customStyles = '' %}
          {% set textClass = '' %}
        {% endif %}
        {% if blockWrapped %}</div></div><!-- /.block-wrap -->{% set blockWrapped = false %}{% endif %}
        </div><!-- /.block-color -->
        <div class="block-color color-{{ blockClass }}{{ textClass }}"{{ customStyles }}>
      {% endif %}

    {% case "sectionHeader" %}
      <div class="block-section-header">
        <h3>{{ block.headline }}</h3>
      </div>

    {% case "spacer" %}
      <div class="block-spacer {{ block.size }}"></div>

    {% case "blockHeader" %}{# deprecated #}
      {% if not blockWrapped %}<div class="block-wrap"><div class="-inner">{% set blockWrapped = true %}{% endif %}
      <div class="block-text fullWidth user-content">
        <div class="-inner">
          {% if block.numberHeader %}
            <h3 class="h1 number-header">{{ block.numberHeader }}</h3>
          {% endif %}
          {% if block.blockTitle %}
            <h2>{{ block.blockTitle }}</h2>
          {% endif %}
          {{ block.blockDescription }}
        </div>
      </div>

    {% case "blockTypeSpecimen" %}
      {% if not blockWrapped %}<div class="block-wrap"><div class="-inner">{% set blockWrapped = true %}{% endif %}
      {% include "blocks/_type-tester" with { block: block } %}

    {% case "blockImages" %}
      {% if block.carousel %}
        {% if blockWrapped %}</div></div><!-- /.block-wrap -->{% set blockWrapped = false %}{% endif %}
        <div class="block-carousel">
          <div class="flickity js-cursor">
            {% for image in block.images.all() %}
              {% set embeddedAsset = craft.embeddedAssets.get(image) %}
              {% if embeddedAsset %}
                {# Custom vimeo handling #}
                {% if embeddedAsset.url matches '/vimeo\.com/' %}
                  <div class="embedded-asset vimeo-block{{ block.backgroundVideo ? ' background-video' : '' }}" data-url="{{ embeddedAsset.url }}" data-width="{{ embeddedAsset.width }}" data-height="{{ embeddedAsset.height }}">
                    <img class="lazyload" data-src="{{ embeddedAsset.images[0].url }}">
                  </div>
                {% else %}
                  {{ embeddedAsset.html }}
                {% endif %}
              {% else %}
                {% set treatedImage = craft.imager.transformImage(image, { mode: 'fit', width: 1800, height: 900 }) %}
                {% set orientation = image.getWidth() > image.getHeight() ? 'landscape' : 'portrait' %}
                <div class="slide {{ orientation }}">
                  {%- if block.imageLinkUrl %}<a href="{{ block.imageLinkUrl }}" target="_blank" rel="noopener">{% endif -%}
                    <img src="{{ treatedImage.getUrl() }}" alt="{{ image.title }}">
                  {%- if block.imageLinkUrl %}</a>{% endif -%}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% else %}
        {# todo: remove this support for old fullbleed image projects #}
        {% if not blockWrapped %}<div class="block-wrap"><div class="-inner">{% set blockWrapped = true %}{% endif %}
        {% for image in block.images.all() %}
          <div class="block-image fullWidth">
            <div class="-inner">
              {% set embeddedAsset = craft.embeddedAssets.get(image) %}
              {% if embeddedAsset %}
                <div class="vimeo-block{{ block.backgroundVideo ? ' background-video' : '' }}" data-url="{{ embeddedAsset.url }}" data-width="{{ embeddedAsset.width }}" data-height="{{ embeddedAsset.height }}">
                  <img class="lazyload" data-src="{{ embeddedAsset.images[0].url }}">
                </div>
              {% else %}
                {%- if block.imageLinkUrl %}<a href="{{ block.imageLinkUrl }}" target="_blank" rel="noopener">{% endif -%}
                  <img class="lazyload" data-src="{{ image.getUrl() }}" alt="{{ image.title }}">
                {%- if block.imageLinkUrl %}</a>{% endif -%}
              {% endif %}
            </div><!-- /.-inner -->
          </div>
        {% endfor %}
      {% endif %}

    {% case "blockImagesWithText" %}
      {% if blockWrapped %}</div></div><!-- /.block-wrap -->{% set blockWrapped = false %}{% endif %}
      <div class="block-carousel">
        <div class="flickity js-cursor with-captions">
          {% for image in block.images.all() %}
            {% set treatedImage = craft.imager.transformImage(image, { mode: 'fit', width: 1800, height: 900 }) %}
            <figure class="slide {{ image.captionLabel or image.caption ? ' with-caption' : '' }}" style="background-image:url('{{ treatedImage.getUrl() }}');">
              {% if image.captionLabel or image.caption %}
                <figcaption class="image-text">
                  <div class="-inner">
                    {% if image.captionLabel %}
                      <h5 class="caption-label">{{ image.captionLabel }}</h5>
                    {% endif %}
                    {% if image.caption %}
                      <p class="caption">{{ image.caption }}</p>
                    {% endif %}
                  </div>
                </figcaption>
              {% endif %}
            </figure>
          {% endfor %}
        </div>
      </div>

    {% case "blockHtml" %}
      {% if not blockWrapped %}<div class="block-wrap"><div class="-inner">{% set blockWrapped = true %}{% endif %}
      <div class="block-html vimeo-block">{{ block.html }}</div>

    {% case "blockText" %}
      {% if not blockWrapped %}<div class="block-wrap"><div class="-inner">{% set blockWrapped = true %}{% endif %}
      {% include "blocks/_text" with { block: block } %}

    {% case "blockPaddedImage" %}
      {% if not blockWrapped %}<div class="block-wrap"><div class="-inner">{% set blockWrapped = true %}{% endif %}
      {% include "blocks/_padded-images" with { block: block, browserFrame: block.browserFrame } %}

    {% case "blockQuote" %}
      {% if not blockWrapped %}<div class="block-wrap"><div class="-inner">{% set blockWrapped = true %}{% endif %}
      {% include "blocks/_quote" with { block: block } %}

    {% case "statTable" %}
      {% if not blockWrapped %}<div class="block-wrap"><div class="-inner">{% set blockWrapped = true %}{% endif %}
      {% include "blocks/_stat-table" with { block: block } %}

    {% default %}
      Hello?

  {% endswitch %}
{% endfor %}

{% if blockWrapped %}</div></div><!-- /.block-wrap -->{% endif %}
</div><!-- /.block-color -->
