{% set blockWrapped = false %}

{% for block in entry.projectBlocks.with([
    'blockPaddedImage:image',
    'blockImages:images',
    'blockImagesWithText:images',
    'blockImagesWithText:images',
  ]).all() %}
  {% switch block.type %}

    {% case 'blockColorChange' %}
      {% set background = (block.color == 'custom') ? block.customBackgroundColor : block.color %}
      {% set color = (block.textColor == 'custom') ? block.customTextColor : block.textColor %}
      <div class="color-change" data-background="{{ background }}" data-color="{{ color }}"></div>

    {% case 'sectionHeader' %}
      {% if not blockWrapped %}<div class="block-wrap"><div class="-inner">{% set blockWrapped = true %}{% endif %}
      {% include "blocks/_section-header" with { block: block } %}

    {% case 'spacer' %}
      <div class="block-spacer {{ block.size }}"></div>

    {% case 'blockHeader' %}{# deprecated #}
      {% if not blockWrapped %}<div class="block-wrap"><div class="-inner">{% set blockWrapped = true %}{% endif %}
      <div class="block-text fullWidth user-content">
        <div class="-inner">
          {% if block.numberHeader %}
            <h3 class="h1 number-header">{{ block.numberHeader }}</h3>
          {% endif %}
          {% if block.blockTitle %}
            <h2>{{ block.blockTitle }}</h2>
          {% endif %}
          {{ block.blockDescription }}
        </div>
      </div>

    {% case 'blockTypeSpecimen' %}
      {% if not blockWrapped %}<div class="block-wrap"><div class="-inner">{% set blockWrapped = true %}{% endif %}
      {% include 'blocks/_type-tester' with { block: block } %}

    {% case 'blockImages' %}
      {% if block.carousel %}
        {% if blockWrapped %}</div></div><!-- /.block-wrap -->{% set blockWrapped = false %}{% endif %}
        {% include 'blocks/_image-carousel' with { block: block } %}

      {% else %}
        {# todo: remove this support for old fullbleed image projects #}
        {% if not blockWrapped %}<div class="block-wrap"><div class="-inner">{% set blockWrapped = true %}{% endif %}
        {% for image in block.images %}
          <div class="block-image fullWidth -reveal">
            <div class="-inner">
              {% set embeddedAsset = craft.embeddedAssets.get(image) %}
              {% if embeddedAsset %}
                <div class="vimeo-block{{ block.backgroundVideo ? ' background-video' : '' }}" data-url="{{ embeddedAsset.url }}" data-width="{{ embeddedAsset.width }}" data-height="{{ embeddedAsset.height }}">
                  <img class="lazyload" data-src="{{ embeddedAsset.images[0].url }}">
                </div>
              {% else %}
                <figure class="-aspect-ratio-pad" style="padding-bottom: {{ image.height / image.width * 100 }}%">
                {%- if block.imageLinkUrl %}<a href="{{ block.imageLinkUrl }}" target="_blank" rel="noopener">{% endif -%}
                  {% include "partials/_picture" with {
                    image: image,
                    imgSrcSets: [ { mode: 'fit', width: 1800 }, { mode: 'fit', width: 750, jpegQuality: 70 }, ],
                    imgSizes: '100vw',
                    lazy: true
                  } %}
                {%- if block.imageLinkUrl %}</a>{% endif -%}
                </figure>
              {% endif %}
            </div><!-- /.-inner -->
          </div>
        {% endfor %}
      {% endif %}

    {% case 'blockImagesWithText' %}
      {% if blockWrapped %}</div></div><!-- /.block-wrap -->{% set blockWrapped = false %}{% endif %}
      <div class="block-carousel -reveal">
        <div class="flickity js-cursor with-captions">
          {% for image in block.images %}
            <figure class="slide {{ image.captionLabel or image.caption ? ' with-caption' : '' }}" data-responsive-background-image>
              {% include "partials/_picture" with {
                image: image,
                imgSrcSets: [ { mode: 'fit', width: 1800, height: 900 }, { mode: 'fit', width: 750, height: 400, jpegQuality: 70 }, ],
                imgSizes: '100vw'
              } %}
              <picture>
                {% if transformedImagesWebp is defined %}
                  <source sizes="{{ imgSizes }}" srcset="{{ craft.imager.srcset(transformedImagesWebp) }}" type="image/webp">
                {% endif %}
                <img sizes="{{ imgSizes }}" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ image.altText | length ? image.altText : image.title }}">
              </picture>

              {% if image.captionLabel or image.caption %}
                <figcaption class="image-text">
                  <div class="-inner">
                    {% if image.captionLabel %}
                      <h5 class="caption-label">{{ image.captionLabel }}</h5>
                    {% endif %}
                    {% if image.caption %}
                      <p class="caption">{{ image.caption }}</p>
                    {% endif %}
                  </div>
                </figcaption>
              {% endif %}
            </figure>
          {% endfor %}
        </div>
      </div>

    {% case 'blockHtml' %}
      {% if not blockWrapped %}<div class="block-wrap"><div class="-inner">{% set blockWrapped = true %}{% endif %}
      <div class="block-html vimeo-block">{{ block.html }}</div>

    {% case 'blockText' %}
      {% if not blockWrapped %}<div class="block-wrap"><div class="-inner">{% set blockWrapped = true %}{% endif %}
      {% include 'blocks/_text' with { block: block } %}

    {% case 'blockPaddedImage' %}
      {% if not blockWrapped %}<div class="block-wrap"><div class="-inner">{% set blockWrapped = true %}{% endif %}
      {% include 'blocks/_padded-images' with { block: block, browserFrame: block.browserFrame } %}

    {% case 'blockQuote' %}
      {% if not blockWrapped %}<div class="block-wrap"><div class="-inner">{% set blockWrapped = true %}{% endif %}
      {% include 'blocks/_quote' with { block: block } %}

    {% case 'statTable' %}
      {% if not blockWrapped %}<div class="block-wrap"><div class="-inner">{% set blockWrapped = true %}{% endif %}
      {% include 'blocks/_stat-table' with { block: block } %}

    {% default %}
      Hello?

  {% endswitch %}
{% endfor %}

{% if blockWrapped %}</div></div><!-- /.block-wrap -->{% endif %}
