{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? '_ajax-layout' : '_layout' %}

{% if entry is not defined %}
  {% set entry = craft.entries.section('workIndex').one() %}
{% endif %}

{% set title = 'Work' %}
{% set bodyClass = 'with-blobs' %}
{% if entry.seoTitle %}{% set seoTitle = entry.seoTitle %}{% endif %}
{% if entry.seoDescription %}{% set seoDescription = entry.seoDescription %}{% endif %}
{% if entry.seoImage|length %}{% set seoImage = entry.seoImage.one() %}{% endif %}

{% set sectionHeader = 'All Projects' %}
{% set filterLinks = '<a href="#" class="filter-projects" data-no-swup>Filter Projects</a>' %}

{% if category is defined %}

  {% if category.group == 'service' %}
    {% set projectEntries = craft.superTable.getRelatedElements({
      relatedTo: {
        targetElement: category,
        field: 'services.service'
      },
      section: 'work',
    }) %}
  {% else %}
    {% set projectEntries = craft.entries({
      relatedTo: category,
      section: 'work',
    }) %}
  {% endif %}
  {% set headline = 'Check out all our %s projects.'|format(category.title|lower) %}
  {% set subhead = 'Feast your eyes.' %}
  {% set sectionHeader = 'All %s Projects'|format(category.title) %}
  {% set filterLinks = '<a href="#" class="filter-projects" data-no-swup>Change Filter</a>' %}

{% else %}

  {% set projectEntries = craft.entries({
    section: 'work',
  }) %}

{% endif %}

{% block content %}

  {% if category is defined %}
    {% include 'partials/_text-header' with { headline: headline, subhead: subhead } %}
  {% else %}
    {% include 'partials/_text-header' %}
  {% endif %}

  <div class="container">
    <div class="block-section-header top-section-header">
      <h3>{{ sectionHeader }}</h3>
      <div class="filter-links">
        {{ filterLinks|raw }}
      </div>
    </div>
    <div class="thumbnail-grid grid spaced">
      {% for projectEntry in projectEntries.with([
          'altImage',
          'services.service',
        ]).all() %}
        {% include 'work/_article' with { entry: projectEntry } %}
      {% endfor %}
    </div>
  </div>

  <div class="modal-content hidden">
    <div class="container">
      <div class="grid">
        <div class="col-services">
          {% set allCount = craft.entries.section('work').count() %}
          <h4 class="heading-smallcaps">Services</h4>
          <ul class="services-nav">
            {% for service in craft.categories.group('services').all() %}
              {% set serviceCount = craft.superTable.getRelatedElements({
                relatedTo: {
                  targetElement: service,
                  field: 'services.service'
                },
                section: 'work'
              }).count() %}
              <li{{ category is defined and category.title == service.title ? ' class="-active"': '' }}><a data-no-swup href="{{ service.getUrl() }}">{{ service.title }} <sup>{{ serviceCount }}</sup><span class="visually-hidden"> projects</span> <svg class="icon icon-big-arrow" aria-hidden="true"><use xlink:href="#icon-big-arrow"/></svg></a></li>
            {% endfor %}
            <li><a data-no-swup href="{{ entry.getUrl() }}">All <sup>{{ allCount }}</sup><span class="visually-hidden"> projects</span> <svg class="icon icon-big-arrow" aria-hidden="true"><use xlink:href="#icon-big-arrow"/></svg></a></li>
          </ul>
        </div>
        <div class="col-industries">
          <h4 class="heading-smallcaps">Industries</h4>
          <ul class="industries-nav">
            {% for industry in craft.categories.group('industry').all() %}
              <li{{ category is defined and category.title == industry.title ? ' class="-active"': '' }}><a data-no-swup href="{{ industry.getUrl() }}">{{ industry.title }}</a></li>
            {% endfor %}
            <li><a data-no-swup href="{{ entry.getUrl() }}">All</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
